<div class="d-flex justify-content-between custom-order-details custom-orders-list">
  <div></div>
  <p class="m-0 ml-8">My Orders</p>
  <span class="f-18 mr-3 mt-1 cursor-pointer" (click)="home()">
    <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
    <i class="fa fa-plus-circle mr-2" aria-hidden="true"></i>
    <!-- Home -->Add Items
  </span>
</div>

<!-- <div class="orders-header d-flex justify-content-between">
  <div></div>
  <h1 class="">My Orders</h1>
  <span class="text-dark">
    <i class="fa fa-home" aria-hidden="true"></i>
    Home
  </span>
</div> -->

<table class="table container mt-2">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order #</th>
      <th class="custom-row-width" scope="col">Order Name</th>
      <th scope="col">Order Type</th>
      <th scope="col">Delivery Date Time</th>
      <th scope="col">Location</th>
      <th scope="col">Repeat Order</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of ordersList?.myOrderList|paginate: { itemsPerPage: 10,currentPage: p,totalItems:ordersList?.myOrderList?.length}">
      <td><a (click)="viewOrderDetails(item.orderNumber,template)" href="javascript:void(0)" class="">{{item.orderNumber}}</a></td>
      <td>{{item.orderName}}</td>
      <td>{{item.orderType}}</td>
      <td>{{item.deliveryDate}}</td>
      <td>{{item.street}},{{item.suite}},{{item.state}},{{item.city}},{{item.zip}}</td>
      <td><i class="fa fa-repeat" aria-hidden="true" (click)="repeatOrder(item.orderNumber)"></i></td>
    </tr>
    <tr>
      <td colspan="6" class="text-right">
        <pagination-controls maxSize="10" (pageChange)="p = $event"></pagination-controls>
      </td>
    </tr>
    <!-- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Jacob</td>
      <td><i class="fa fa-repeat" aria-hidden="true"></i></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Larry</td>
      <td><i class="fa fa-repeat" aria-hidden="true"></i></td>
    </tr> -->
  </tbody>
  <!-- <div>
    <pagination-controls maxSize="4" (pageChange)="p = $event"></pagination-controls>
  </div> -->

</table>

<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->
<ng-template #template>

  <div class="">
    <div class="" >
      <div class="custom-orders-header py-1 justify-content-between px-3 sticky-top">
        <h2 class="order-content-text m-0">Review Order: #{{orderNum}}</h2>
        <button type="button" class="btn-close close pull-right mt-0" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class=" custom-add-more">
        <div class="d-flex align-items-center justify-content-between border-bottom py-2"*ngFor="let item of menuItems; let i = index;">
          <div class="nav r-0 align-items-center">
            <input  disabled="" autocomplete="off" type="text" name="quantity" class="quantity w-49 ml-3 " [value]="item.quantity" >
            <!-- <p class="custom-summer-fonts pl-3 AvenirLTStd-Heavy">{{item.quantity}}</p> -->
            <P class="custom-summer-fonts pl-3 AvenirLTStd-Heavy">{{item.itemName}}</P>
          </div>
          <div class="d-flex align-items-center">
            <P class="custom-font-weight mb-0 pr-3">${{(item.quantity * item.price).toFixed(2)}}</P>
          </div>
        </div>
        <!-- package -->
        <div class="d-flex justify-content-between border-bottom py-2" *ngFor="let item of packageItems; let i = index;">
          <div class=" r-0 w-100 ">
            <div class="nav align-items-center">
              <input  disabled="" autocomplete="off" type="text" name="quantity" class="quantity w-49 ml-3 " [value]="item.PackageDetails.PkgQty" >
              <!-- <p class="custom-summer-fonts pl-3 AvenirLTStd-Heavy">{{item.PackageDetails.PkgQty }}</p> -->
              <h5 class="custom-summer-fonts pl-3 AvenirLTStd-Heavy">{{item.PackageDetails.packageName}}</h5>
            </div>
            <div class="pl-5 pr-2 ml-4">
              <table class="w-100 " *ngIf="item.PackageDetails.packageItemLevelPriceFlag==1">
                <tbody class="border-0">
                  <tr *ngFor="let pkgItem of item.PackageItems">
                    <ng-container *ngIf="pkgItem.pkgItemQty>0">
                      <td class="w-100 f-14">
                        <span class="">&#8226;&nbsp; {{pkgItem.pkgItemname}}</span>
                      </td>
                      <td class="text-right f-14">
                        {{pkgItem.pkgItemQty}}
                      </td>
                      <td class="f-14">
                        X&nbsp;$
                      </td>
                      <td class="text-right f-14">
                        {{pkgItem.pkgItemPrice.toFixed(2)}}
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="d-flex ">
            <P *ngIf="item.PackageDetails.packageItemLevelPriceFlag==1" class="custom-font-weight mb-0 pr-3">
              ${{(item.PackageDetails.packageCost).toFixed(2)}}</P>
            <P *ngIf="item.PackageDetails.packageItemLevelPriceFlag!=1" class="custom-font-weight mb-0 pr-3">
              ${{(item.PackageDetails.PkgQty * item.PackageDetails.packageCost).toFixed(2)}}</P>
          </div>
        </div>
        <!-- combo -->
        <div class="d-flex align-items-center justify-content-between border-bottom py-2" *ngFor="let item of comboItems; let i = index;">
          <div class=" r-0 d-flex align-items-center nav ">
            <input  disabled="" autocomplete="off" type="text" name="quantity" class="quantity w-49 ml-3 " [value]="item.ComboDetails.comboQty" >
            <!-- <p class="custom-summer-fonts pl-3 AvenirLTStd-Heavy">{{item.ComboDetails.comboQty}}</p> -->
            <P class="custom-summer-fonts pl-3 AvenirLTStd-Heavy">{{item.ComboDetails.comboName}}</P>
          </div>
          <div class="d-flex align-items-center">
            <P class="custom-font-weight mb-0 pr-3">${{(item.ComboDetails.comboQty * item.ComboDetails.comboCost).toFixed(2)}}</P>
          </div>
        </div>
      </div>
      <div class=" custom-add-more custom-payment-align bottom-0-sticky">
        <div style="justify-content: end !important ; "  class="custom-total-price py-2">
          <p class="custom-subtotal-wrapper mb-0 pl-5 pr-5 ">Total:</p>
          <p class="custom-subtotal-wrapper mb-0 pr-3">${{subTotal?.toFixed(2)}}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>