<div class="combo-wrapper">
  <div class="">
    <div class="modal-content">
      <div class="modal-header m-0 text-white d-flex justify-content-between align-items-center ">
        <div> &nbsp; </div>
        <h5 class="modal-title m-auto">{{comboData?.ComboDetails?.comboName}}</h5>
        <i class="fas fa-times pr-2" (click)="closeModal()" style="cursor: pointer;"></i>
      </div>

      <div class="modal-body">
        <div class="modal-body-second position-relative">
          <div class="">
            <img *ngIf="comboData?.ComboDetails?.blobcontent" [src]="('data:image/JPEG;base64,' + comboData?.ComboDetails?.blobcontent) | domsanitize" alt=""
                class="combo-img img-fluid h-100" >
              <img *ngIf="!comboData?.ComboDetails?.blobcontent" src="assets/images/cater/large-sample.jpg" alt="" class="combo-img img-fluid h-100"  >
          </div>
          <p class="px-3 py-4 text-white position-relative">
            {{comboData?.ComboDetails?.comboDescription}}
          </p>
        </div>
        <!-- <div class="modal-body-second">
          <p class="px-3 py-4 text-white">
            {{comboData?.ComboDetails?.comboDescription}}
          </p>
        </div> -->

        <div class="modal-body-wrapper">

          <div class="combos-wrapper" *ngIf="!showSummary">
            <div class="modal-body-item"
              *ngFor="let item of dummycomboitems|orderBy:'comboContentDisplayArr':false;let j=index">
              <ng-container
                *ngIf="j!=0?item.packageId=='0'?dummycomboitems[j-1].serviceId!=item.serviceId ||dummycomboitems[j-1].packageId!=item.packageId :dummycomboitems[j-1].packageId!=item.packageId:true">
                <div id="toggle{{j}}" (click)="toogle('toggle',j)"
                  class="drop acc-title  d-flex justify-content-between px-2 mb-2 align-items-center">
                  <h5 class=" m-0">
                    {{item.packageId=='0'? item.serviceName:item.packName}}
                    <p class="py-1 m-0 title-condition-wrap instruction-font"
                      *ngIf="item.minItems && item.maxItems && item.packType !== '0'">
                      <span *ngIf="item.minItems !== item.maxItems"> Please select between
                        {{item.minItems}} and {{item.maxItems}} items from this list. The
                        total item
                        quantity should be equal to {{comboQuantityTotal * item.maxItemQty}}.</span>
                      <span *ngIf="item.minItems === item.maxItems && item.minItems !=='0'&& item.maxItems !=='0'">
                        Please select {{item.minItems}} item(s) from this list. The total item quantity
                        should be
                        equal to {{comboQuantityTotal * item.maxItemQty}}.</span>
                      <span *ngIf="item.minItems ==='0'&& item.maxItems ==='0'"> Please
                        select item(s)
                        from this list. The total item quantity should be equal to {{comboQuantityTotal *
                        item.maxItemQty}}.</span>
                    </p>
                  </h5>
                  <i class="fas fa-angle-down mr-2 acc-icon"></i>
                </div>
                <div class="dropdown-content acc-body">
                  <ng-container
                    *ngFor="let data of dummycomboitems|orderBy:'comboContentDisplayArr':false;let i=index;">
                    <div
                      *ngIf="item.packageId=='0'?item.serviceId==data.serviceId&&item.packageId==data.packageId:item.packageId==data.packageId"
                      class="my-1 form-check d-flex justify-content-between">
                      <ng-container *ngIf="item.comboContentDisplayArr==data.comboContentDisplayArr">
                        <span>
                          <label class="form-check-label" for="exampleCheck1">{{data.itemName}}</label>
                        </span>
                        <div class="item-icons d-flex justify-content-start">
                          <i *ngIf="item.packType !== '0'&&item.packageId!='0'" class="fa fa-minus mx-1"
                            (click)="data.itemQty>0?itemQuantitychange('minus',data.id):''" aria-hidden="true"></i>
                          <div [ngClass]='item.packType !== "0" &&item.packageId!="0" ?"":"teardrop"'>
                            <span *ngIf="item.packType !== '0'&&item.packageId!='0'"
                              class="mx-1">{{data.itemQty}}</span>

                            <span *ngIf="item.packType === '0'||item.packageId=='0'"
                              class="firsttext">{{data.itemQty*comboQuantityTotal}}</span>
                          </div>
                          <i *ngIf="item.packType !== '0'&&item.packageId!='0'" class="fa fa-plus mx-1"
                            (click)="itemQuantitychange('plus',data.id)" aria-hidden="true"></i>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>

          </div>



        </div>
      </div>


      <div class="modal-footer d-flex justify-content-between p-0" style="background: #c5c5c5;">
        <div class="">
          <i class="fa fa-minus mx-2" aria-hidden="true" *ngIf="!showSummary"
            (click)="comboQuantityTotal>1?totalQuantityChange('minus'):''"></i>
          <span *ngIf="!showSummary" style="color: #10153f; font-size: 18px;"> <b>{{comboQuantityTotal}}</b> </span>
          <span *ngIf="showSummary" style="color: #10153f; font-size: 18px;" class="ml-2">
            Quantity:<b>{{comboQuantityTotal}}</b> </span>
          <i *ngIf="!showSummary" class="fa fa-plus mx-2" aria-hidden="true" (click)="totalQuantityChange('plus')"></i>
        </div>


        <div class="price d-flex">
          <div class="mx-3">
            <strong>Price:</strong> ${{comboData?.ComboDetails?.comboCost.toFixed(2)}}
          </div>

          <div class="mx-3">
            <strong>Total Amount:</strong> ${{(comboData?.ComboDetails?.comboCost * comboQuantityTotal).toFixed(2)}}
          </div>
        </div>


        <div class="buttons d-flex justify-content-center">
          <button type="button" class="btn btn-primary mx-3" data-dismiss="modal"
            style="background-color: #262262;   border:0px;" *ngIf="showSummary" (click)="takeOrder()">Confirm</button>
          <button type="button" class="btn btn-primary mx-3" data-dismiss="modal"
            style="background-color: #262262;   border:0px;" *ngIf="!showSummary" (click)="onSave()">Save</button>
        </div>
      </div>
    </div>
  </div>


  <style>
    .acc-body {
      display: none;
    }

    .acc-body .show {
      display: block;
    }
  </style>