.table{
    top: 0;
    th{
        background: var(--buttonColor);
    }
}
.combo-wrapper .package-wrapper{
    height: auto !important;
}
.modal-body-wrapper {
    max-height: calc(100vh - 42vh) !important;
}
.table-striped tbody tr:nth-of-type(odd){
    background: #ccc;
}