<div class="combo-wrapper">
    <div class="">
        <div class="modal-content">
            <div class="modal-header m-0 text-white d-flex justify-content-between align-items-center ">
                <div> &nbsp; </div>
                <h5 class="modal-title m-auto">{{packageDetails?.packageName}}</h5>
                <i class="fas fa-times pr-2" style="cursor: pointer;" (click)="closeModal()"></i>
            </div>

            <div class="modal-body">
                <div class="modal-body-second position-relative">
                    <div class="">
                      <img *ngIf="packageDetails?.blobcontent" [src]="('data:image/JPEG;base64,' + packageDetails?.blobcontent) | domsanitize" alt=""
                          class="combo-img img-fluid h-100" >
                        <img *ngIf="!packageDetails?.blobcontent" src="assets/images/cater/large-sample.jpg" alt="" class="combo-img img-fluid h-100"  >
                    </div>
                    <p class="px-3 py-4 text-white position-relative">
                        {{packageDetails?.PkgDescription}}
                    </p>
                  </div>
                <!-- <div class="modal-body-second">
                    <p class="px-3 py-4 text-white">
                        {{packageDetails?.PkgDescription}}
                    </p>
                </div> -->

                <div class="modal-body-wrapper">

                    <div class="modal-footer border-0 d-flex justify-content-end p-0 amount-details">


                        <div class="price d-flex">
                            <div class="mx-3">
                                <strong>Amount:</strong> ${{totalPrice.toFixed(2)}}
                            </div>
                        </div>


                        <div class="" *ngIf='!showSummary'>
                            <strong>Quantity: </strong>
                            <!-- <i class="fa fa-minus mx-2" aria-hidden="true"
                                (click)="totalQuantity>1?changeTotalQty('minus'):''"></i> -->
                            <span style="color: #fff; font-size: 18px;"> <b>{{itemsQuantity}}</b> </span>
                            <!-- <i class="fa fa-plus mx-2" aria-hidden="true" (click)="changeTotalQty('plus')"></i> -->
                        </div>
                        <div *ngIf='showSummary'>
                            <span class="ml-2" style="color: #fff; font-size: 18px;"> Quantity: <b>{{itemsQuantity}}</b>
                            </span>
                        </div>


                    </div>

                    <div class="package-wrapper mt-2" *ngIf="!showSummary">
                        <div class="table-responsive" style="height: Calc(100vh - 380px);">

                            <table class="table table-striped">
                                <thead class="custom-confirm-table">
                                    <tr>
                                        <th class="w-100 sticky-top">Item Name</th>
                                        <th class="sticky-top">Price</th>
                                        <th class="sticky-top">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of packageItems;let i=index;">
                                        <td><span>
                                                <label class="form-check-label "
                                                    for="exampleCheck{{i}}">{{item.pkgItemname}}</label>
                                            </span></td>
                                        <td>${{item.pkgItemPrice.toFixed(2)}}</td>
                                        <td class="text-right">
                                            <div class="item-icons d-flex justify-content-end">
                                                <i (click)="item.pkgItemQty>0?changeItemQuantity(i,'minus'):''"
                                                    class="fa fa-minus mx-1" aria-hidden="true"></i>
                                                <div class="item-icons">
                                                    <div>
                                                        <span class="firsttext">{{item.pkgItemQty}}</span>
                                                    </div>
                                                </div>

                                                <i (click)="changeItemQuantity(i,'plus')" class="fa fa-plus mx-1"
                                                    aria-hidden="true"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>


                    <div class="confirmation-wrapper mt-2" *ngIf="showSummary ">
                        <div *ngFor="let item of packageItems;let i=index;">

                            <div [ngClass]="i%2==0?'bg-alternate':''">
                                <div class="my-1 form-check d-flex justify-content-between" *ngIf="item.pkgItemQty>0">
                                    <span>
                                        <label class="form-check-label" for="exampleCheck1">{{item.pkgItemname}}
                                        </label>
                                    </span>
                                    <div class="item-icons d-flex justify-content-start">
                                        <div class="teardrop">
                                            <span class="firsttext">{{item.pkgItemQty}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="modal-footer d-flex justify-content-center p-0" style="background: #c5c5c5;">



                <div *ngIf="showSummary" class="buttons d-flex justify-content-center ">
                    <button type="button" (click)="setData()" class="btn btn-primary mx-3 pop-save"
                        data-dismiss="modal">Confirm</button>
                </div>
                <div *ngIf="!showSummary" class="buttons d-flex justify-content-center">
                    <button type="button" (click)="onSave()" class="btn btn-primary mx-3 pop-save"
                        data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>


    <style>
        .acc-body {
            display: none;
        }

        .acc-body .show {
            display: block;
        }
    </style>