<div class="header row justify-content-between align-items-center m-0">
  <div class="col-md-4 m-auto">
    <img src="assets/images/eCaterXpert-01.png" class="img-fluid">
  </div>
  <div class="col-md-4 text-center">
    <div class="logocenter m-auto">
      <img *ngIf="!authService.caterlogoAvailble()" src="assets/images/Aquila2.png" class="img-fluid aquilia-logo ">
      <!-- <img *ngIf="authService.caterlogoAvailble()logo" [src]="('data:image/JPEG;base64,' + item.brandingDetails[0].blobcontent) | domsanitize" alt="" class="img-fluid "> -->
      <img *ngIf="authService.caterlogoAvailble()logo" [src]="('data:image/JPEG;base64,' + authService.caterlogo())| domsanitize" alt="" class="img-fluid ">
    
    </div> 
  </div>
  <div class="col-md-4">
    <div class="header-right">
      <div class="icons-wrapper">
      <div class="custom-info">
      </div>
      <div class="custom-logout">
        <i class="fa fa-sign-out" aria-hidden="true" *ngIf="loginres && loginresponseData.AuthenticateUser.userId !== 0"  (click)="logOut()"></i>
        <span *ngIf="!loginres" (click)="loginFromHome();" class="orders-btn" >Login</span>
      </div>
    </div>
      <div class="custom-user-wrapper" *ngIf="loginres && loginresponseData.AuthenticateUser.userId !== 0">
        <p class="custom-text-colour" >{{loginresponseData.AuthenticateUser.userName}}</p>
        <i class="fa fa-user custom-fa-user" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

