<div class="combo-wrapper">
    <div class="">
        <div class="modal-content">
            <div class="modal-header m-0 text-white d-flex justify-content-between align-items-center ">
                <div> &nbsp; </div>
                <h5 class="modal-title m-auto">{{packageData?.PackageDetails?.packageName}}</h5>
                <i class="fas fa-times pr-2" style="cursor: pointer;" (click)="closeModal()"></i>
            </div>

            <div class="modal-body">
                <div class="modal-body-second position-relative">
                    <div class="">
                      <img *ngIf="packageData?.PackageDetails?.blobcontent" [src]="('data:image/JPEG;base64,' + packageData?.PackageDetails?.blobcontent) | domsanitize" alt=""
                          class="combo-img img-fluid h-100" >
                        <img *ngIf="!packageData?.PackageDetails?.blobcontent" src="assets/images/cater/large-sample.jpg" alt="" class="combo-img img-fluid h-100"  >
                    </div>
                    <p class="px-3 py-4 text-white position-relative">
                        {{packageData?.PackageDetails?.PkgDescription}}
                    </p>
                  </div>
                <!-- <div class="modal-body-second">
                    <p class="px-3 py-4 text-white">
                        {{packageData?.PackageDetails?.PkgDescription}}
                    </p>
                </div> -->

                <div class="modal-body-wrapper">

                    <div class="modal-footer border-0 d-flex justify-content-end p-0 amount-details">
                        
        
                        <div class="price d-flex">
                            <div class="mx-3">
                                <strong>Price:</strong> ${{packageData?.PackageDetails?.packageCost.toFixed(2)}}
                            </div>              
                        </div>
        
        
                        <div class="mx-3">
                            <strong>Amount:</strong> ${{(packageData?.PackageDetails?.packageCost *
                            packQuantity).toFixed(2)}}
                        </div>


                        <div class="" *ngIf='!showSummary'>
                            <i class="fa fa-minus mx-2" aria-hidden="true"
                                (click)="packQuantity>1?changeTotalQty('minus'):''"></i>
                            <span style="color: #fff; font-size: 18px;"> <b>{{packQuantity}}</b> </span>
                            <i class="fa fa-plus mx-2" aria-hidden="true" (click)="changeTotalQty('plus')"></i>
                        </div>
                        <div *ngIf='showSummary'>
                            <span class="ml-2" style="color: #fff; font-size: 18px;"> Quantity: <b>{{packQuantity}}</b> </span>
                        </div>
                    </div>

                    <div class="package-wrapper mt-2" *ngIf="!showSummary">
                        <div class="title-wrapper py-1 px-2" *ngIf="packageData?.PackageDetails?.packageType === '1' &&
                        packageData?.PackageDetails?.pkgMinItems !=='0' &&
                        packageData?.PackageDetails?.pkgMinItems !=='0'">
                            <!-- <h5 class="m-0 package-title text-white">Premium Ingredients - (pick 3)</h5> -->
                            <p class="m-0 title-condition-wrap f-14 title-condition-wrap instruction-font">
                                <span
                                    *ngIf="packageData?.PackageDetails?.pkgMinItems !== packageData?.PackageDetails?.pkgMaxItems">Please
                                    select between {{packageData?.PackageDetails?.pkgMinItems}} and
                                    {{packageData?.PackageDetails?.pkgMaxItems}} items from this list. The total item
                                    quantity should be equal to {{packQuantity *
                                    packageData?.PackageDetails?.pkgMaxSelectItemQty}}.</span>
                                <span
                                    *ngIf="packageData?.PackageDetails?.pkgMinItems === packageData?.PackageDetails?.pkgMaxItems">Please
                                    select {{packageData?.PackageDetails?.pkgMinItems}} item(s) from this list. The
                                    total item quantity should be equal to {{packQuantity *
                                    packageData?.PackageDetails?.pkgMaxSelectItemQty}}.</span>

                            </p>
                        </div>
                        <div class="title-wrapper py-1 px-2" *ngIf="packageData?.PackageDetails?.packageType === '1' &&
                        packageData?.PackageDetails?.pkgMinItems =='0' &&
                        packageData?.PackageDetails?.pkgMinItems =='0'">

                            <!-- <h5 class="m-0 package-title text-white">Premium Ingredients - (pick 3)</h5> -->
                            <p class="m-0 title-condition-wrap f-14 title-condition-wrap instruction-font">
                                Please select your items from this list. The total item quantity should be equal to
                                {{packQuantity * packageData?.PackageDetails?.pkgMaxSelectItemQty}}

                            </p>
                        </div>

                        <div class="">
                            <div *ngFor="let item of packageData?.PackageItems;let i=index;">
                            <div class="my-1 form-check d-flex justify-content-between" [ngClass]="i%2==0?'bg-alternate':''">
                                <span>
                                    <!-- <input
                                        *ngIf="packageData?.PackageDetails?.packageType === '1'&&packageData?.PackageDetails?.pkgMaxItems != '0'&&packageData?.PackageDetails?.pkgMinItems!= '0' "
                                        [disabled]="(!item.checked&&counter>=packageData?.PackageDetails?.pkgMaxItems)"
                                        (click)="itemChecked($event,i)" [checked]="item.checked" type="checkbox"
                                        id="exampleCheck{{i}}" class="mr-2 f-18"> -->
                                    <label class="form-check-label "
                                        for="exampleCheck{{i}}">{{item.pkgItemname}}</label>
                                </span>
                                <div class="item-icons d-flex justify-content-start">
                                    <i *ngIf="packageData?.PackageDetails?.packageType === '1' "
                                        (click)="item.pkgItemQty>0?changeItemQuantity(i,'minus'):''" class="fa fa-minus mx-1"
                                        aria-hidden="true"></i>
                                        <div class="item-icons">
                                            <div [ngClass]="packageData?.PackageDetails?.packageType === '1'?'':'teardrop'">
                                                <span *ngIf="packageData?.PackageDetails?.packageType === '1'" class="mx-1">{{item.pkgItemQty}}</span>
                                                <span *ngIf="packageData?.PackageDetails?.packageType !== '1'" class="firsttext">{{item.pkgItemQty}}</span>
                                            </div>
                                        </div>
                                    
                                    <i *ngIf="packageData?.PackageDetails?.packageType === '1' "
                                        (click)="changeItemQuantity(i,'plus')" class="fa fa-plus mx-1"
                                        aria-hidden="true"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="confirmation-wrapper mt-2" *ngIf="showSummary ">
                        <div class="title-wrapper py-1 px-2" *ngIf="packageData?.PackageDetails?.packageType === '1' &&
                        packageData?.PackageDetails?.pkgMinItems !=='0' &&
                        packageData?.PackageDetails?.pkgMinItems !=='0'">
                            <!-- <h5 class="m-0 package-title text-white">Premium Ingredients - (pick 3)</h5> -->
                            <p class="m-0 title-condition-wrap f-14 title-condition-wrap instruction-font">
                                <span
                                    *ngIf="packageData?.PackageDetails?.pkgMinItems !== packageData?.PackageDetails?.pkgMaxItems">Please
                                    select between {{packageData?.PackageDetails?.pkgMinItems}} and
                                    {{packageData?.PackageDetails?.pkgMaxItems}} items from this list. The total item
                                    quantity should be equal to {{packQuantity *
                                    packageData?.PackageDetails?.pkgMaxSelectItemQty}}.</span>
                                <span
                                    *ngIf="packageData?.PackageDetails?.pkgMinItems === packageData?.PackageDetails?.pkgMaxItems">Please
                                    select {{packageData?.PackageDetails?.pkgMinItems}} item(s) from this list. The
                                    total item quantity should be equal to {{packQuantity *
                                    packageData?.PackageDetails?.pkgMaxSelectItemQty}}.</span>

                            </p>
                        </div>
                        <div class="title-wrapper py-1 px-2" *ngIf="packageData?.PackageDetails?.packageType === '1' &&
                        packageData?.PackageDetails?.pkgMinItems =='0' &&
                        packageData?.PackageDetails?.pkgMinItems =='0'">

                            <!-- <h5 class="m-0 package-title text-white">Premium Ingredients - (pick 3)</h5> -->
                            <p class="m-0 title-condition-wrap f-14 title-condition-wrap instruction-font">
                                Please select your items from this list. The total item quantity should be equal to
                                {{packQuantity * packageData?.PackageDetails?.pkgMaxSelectItemQty}}

                            </p>
                        </div>
                        <div *ngFor="let item of dummyArray;let i=index;">

                            <div [ngClass]="i%2==0?'bg-alternate':''">
                                <div class="my-1 form-check d-flex justify-content-between" *ngIf="item.pkgItemQty>0">
                                    <span>
                                        <label class="form-check-label" for="exampleCheck1">{{item.pkgItemname}}
                                        </label>
                                    </span>
                                    <div class="item-icons d-flex justify-content-start">
                                        <div class="teardrop">
                                            <span class="firsttext">{{item.pkgItemQty}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>



            <div class="modal-footer d-flex justify-content-center p-0" style="background: #c5c5c5;">
                


                <div *ngIf="showSummary" class="buttons d-flex justify-content-center ">
                    <button type="button" (click)="takeOrder()" class="btn btn-primary mx-3 pop-save" data-dismiss="modal"
                        style="">Confirm</button>
                </div>
                <div *ngIf="!showSummary" class="buttons d-flex justify-content-center">
                    <button type="button" (click)="onSave()" class="btn btn-primary mx-3 pop-save" data-dismiss="modal"
                        style="">Save</button>
                </div>
            </div>
        </div>
    </div>


    <style>
        .acc-body {
            display: none;
        }

        .acc-body .show {
            display: block;
        }
    </style>