<div class="w3-sidebar w3-bar-block w3-border-right responsive-side" id="mySidebar">
<div id="sidebar-wrapper" class="hide">
    <button (click)="icontoggle()" class="w3-bar-item w3-large hide-toggle sidebar-button-cross"> &times;</button>
  <ul class="sidebar-nav">
      <li *ngFor="let item of category">
          <div class="d-flex custom-image-section">
              <!-- <img src="../../../assets/images/doorway.svg" class="image"> -->
              <a  href="{{'#'+item}}">{{item | titlecase }}</a>
          </div>
      </li>

  </ul>
</div>
</div> 

