.custom-bag-items-dropdown{
    position: absolute;
    z-index: 1000;
    transform: translateZ(0px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 9px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    right: 2px;
    background: #fff;
    overflow-y: scroll;
    height: 230px;
    width: 300px;
    padding: 10px;
    // margin: 20px 5px 0px 0px;
}

.cater-items-qauantities{
    margin-left: 15px !important;
    font-weight: 600;
}

.cater-content-items{
    // width: 205px;
    // margin-top: 10px !important;
    
}

.cater-bag-items-content:hover{
    color: #007bff !important;
    background: lightgrey;
    cursor: pointer;
}

.cater-bag-items-content{
    border-bottom: 1px solid lightgrey;
    // align-items: center;
    // padding: 5px
}