<div class="common-header py-1">
  <h4>Place Order</h4>
</div>

<div class="container responsive-container">
  <div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
      <div class="row mb-4 delivery-content-width">
        <div class="col-sm-9" *ngIf="customerData">
          <div>
            <strong>Billing Address </strong>
          </div>
          <div>{{customerAddress.billAddress_contactName}}</div>
          <div>{{customerAddress.billAddress_street}}</div>
          <div>{{customerAddress.billAddress_suite}}</div>
          <div>{{customerAddress.billAddress_state}} - {{customerAddress.billAddress_zip}}</div>
        </div>

        <div class="col-sm-9" *ngIf="!customerData">
          <div class="custom-pickupInfo">
            <strong>Billing Address</strong>
          </div>
          <div>{{orderDetails.street}}</div>
          <div>{{orderDetails.suite}}</div>
          <div>{{orderDetails.city}}</div>
          <div>{{orderDetails.statename}} - {{orderDetails.zipCode}}</div>
        </div>

        <div class="col-sm-3">
          <div class="custom-pickupInfo">
            <strong>Delivery / PickUp Info</strong>
          </div>
          <div>{{orderDetails.street}}</div>
          <div>{{orderDetails.suite}}</div>
          <div>{{orderDetails.city}}</div>
          <div>{{orderDetails.statename}} - {{orderDetails.zipCode}}</div>
        </div>



      </div>

      <div class="table-responsive-sm place-order-table">
        <table class="table table-striped">
          <thead class="table-header-order">
            <tr>
              <th class="center text-nowrap">#</th>
              <th class="text-nowrap">Item</th>
              <!-- <th>Description</th> -->

              <th class="right text-nowrap w-60">Qty</th>
              <th class="center text-nowrap w-60">Unit Price</th>
              <th class="right text-nowrap w-40">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart.menuItems; let i=index;">
              <td class="center text-normal ">{{i+1}}</td>
              <td class="left strong text-normal">{{item.itemName}}</td>
              <!-- <td class="left">Extended License</td> -->

              <td class="right text-normal text-center w-60">{{item.quantity}}</td>
              <td class="center text-normal text-right w-60 px-4">${{item.price.toFixed(2)}}</td>
              <td class="right text-normal text-right w-60">${{(item.quantity * item.price).toFixed(2)}}</td>
            </tr>
            <tr *ngFor="let item of cart.package; let i=index;">
              <td class="center text-normal">{{cartService.cart.menuItems.length+(i+1)}}</td>
              <td class="left strong text-normal">{{item.PackageDetails.packageName}}
                <span *ngIf="item.subMenu" style="font-size: 12px;"> [{{item.subMenu}}]</span>

              </td>
              <td class="right text-normal text-center w-60 " >{{item.PackageDetails.PkgQty}}</td>
              <td class="center text-normal text-right w-60 px-4" *ngIf="item.PackageDetails.packageItemLevelPriceFlag == 1" > ${{(item.PackageDetails.packageCost/item.PackageDetails.PkgQty).toFixed(2)}} </td>
              <td class="center text-normal text-right w-60 px-4"*ngIf="item.PackageDetails.packageItemLevelPriceFlag != 1">${{(item.PackageDetails.packageCost).toFixed(2)}}</td>
              <td *ngIf="item.PackageDetails.packageItemLevelPriceFlag == 1" class="right text-normal text-right w-60">${{(item.PackageDetails.packageCost.toFixed(2))}}</td>
              <td *ngIf="item.PackageDetails.packageItemLevelPriceFlag != 1" class="right text-normal text-right w-60">${{(item.PackageDetails.PkgQty *
                  item.PackageDetails.packageCost).toFixed(2)}}</td>
            </tr>
            <tr *ngFor="let item of cart.combo; let i=index;">
              <td class="center text-normal">{{cartService.cart.menuItems.length+cartService.cart.package.length+i+1}}</td>
              <td class="left strong text-normal">{{item.ComboDetails.comboName}}</td>
              <!-- <td class="left">Extended License</td> -->

              <td class="right text-normal text-center w-60">{{item.ComboDetails.comboQty}}</td>
              <td class="center text-normal text-right w-60 px-4">${{(item.ComboDetails.comboCost).toFixed(2)}}</td>
              <td class="right text-normal text-right w-60">${{(item.ComboDetails.comboQty * item.ComboDetails.comboCost)?.toFixed(2)}}</td>
            </tr>
            <tr>
              <td class="center text-normal"></td>
              <td class="left strong text-normal"></td>
              <td class="right text-normal"></td>
              <td class="center text-normal  w-60"><b>Sub Total</b></td>
              <td class="right text-normal text-right w-60">${{totalAmount.toFixed(2)}}</td>
            </tr>
            <tr>
              <td class="center text-normal"></td>
              <td class="left strong text-normal"></td>
              <td class="right text-normal"></td>
              <td class="center text-normal white-space w-60"><b class="white-space">Discount</b></td>
              <td class="right text-normal text-right w-60" *ngIf="discountpercent != 0">${{((totalAmount)*(discountpercent/100)).toFixed(2)}}</td>
              <td class="right text-normal text-right w-60" *ngIf="discountFlatAmount != 0">${{discountFlatAmount.toFixed(2)}}</td>
              <td class="right text-normal text-right w-60" *ngIf="discountpercent == 0 && discountFlatAmount == 0">$0.00</td>
            </tr>
            <tr>
              <td class="center text-normal"></td>
              <td class="left strong text-normal"></td>
              <td class="right text-normal"></td>
              <td class="center text-normal white-space w-60"><b class="white-space">Total</b></td>
              <td class="right text-normal text-right w-60" *ngIf="discountpercent != 0">${{((totalAmount-(totalAmount)*(discountpercent/100))).toFixed(2)}}</td>
              <td class="right text-normal text-right w-60" *ngIf="discountFlatAmount != 0">${{(totalAmount-discountFlatAmount).toFixed(2)}}</td>
              <td class="right text-normal text-right w-60" *ngIf="discountpercent == 0 && discountFlatAmount == 0">${{totalAmount.toFixed(2)}}</td>
            </tr>
            <tr>
              <td class="center text-normal"></td>
              <td class="left strong text-normal"></td>
              <td class="right text-normal"></td>
              <td class="center text-normal white-space w-60"><b class="white-space">Tax Amount</b></td>
              <td class="right text-normal text-right w-60">${{taxAmount.toFixed(2)}}</td>
            </tr>
            <tr>
              <td class="center text-normal"></td>
              <td class="left strong text-normal"></td>
              <td class="right text-normal"></td>
              <td class="center text-normal white-space w-60"><b class="white-space">Grand Total</b></td>
              <td class="right text-normal text-right w-60"  *ngIf="discountpercent != 0">${{((totalAmount+taxAmount-(totalAmount)*(discountpercent/100)))?.toFixed(2)}}</td>
              <td class="right text-normal text-right w-60" *ngIf="discountFlatAmount != 0">${{(totalAmount+taxAmount-(discountFlatAmount))?.toFixed(2)}}</td>
              <td class="right text-normal text-right w-60" *ngIf="discountpercent == 0 && discountFlatAmount == 0">${{(totalAmount+taxAmount)?.toFixed(2)}} </td>

            </tr>

          </tbody>
        </table>
      </div>


      <div class="place-order-button d-flex justify-content-center">
        <!-- <div class="dropdown">
          <select (change)="paymentroute()" class="placed-order-wrapper" >
            <option class="custom-select-color-wrapper" value="creditcard">Credit Card</option>
            <option *ngIf="this.loginres.AuthenticateUser.userId !== 0" class="custom-select-color-wrapper" value="paylater">Pay Later</option>
          </select>
           
         <ul class="dropdown-menu">
            <li class="bg-hover"><a class="text-place-order" href="javascript:void(0)">Credit Card</a></li>
            <li class="bg-hover"><a class="text-place-order" href="javascript:void(0)">Pay Later</a></li>
          </ul>
        </div> -->
        <button class="btn btn-primary dropdown-toggle place-order-color mx-3" [routerLink]="['/order-details/1']" type="button">
          Back
          <span class="caret"></span></button>
          <button type="button" (click)="authservice.redirectToHome()" class="btn-primary place-order-color mr-2">Add
            More Items</button>
        <div class="d-flex">
          <input type="submit" name="submit" value=" Pay & Confirm" data-toggle="modal"
            data-target="#exampleModal"  class="btn-primary place-order-color">

          <input *ngIf="authservice.isuserLoggedin()" type="submit" name="submit" (click)="confirmOrder()" value=" Pay Later" class="btn-primary ml-3 place-order-color">
        </div>

      </div>

    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content custom-combo-scroll">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure want to confirm this order?
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn blue-button" (click)="saveOrderPayment()" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>



<div >
  <form id="APSWS" style="margin-left: 5%;" name="APSWS" method="post" target="_top">
    <input type="hidden" name="commentsAPS" id="commentsAPS" [value]="" />
    <input type="hidden" name="amountAPS" id="amountAPS" [value]="(totalAmount+taxAmount-(totalAmount)*(discountpercent/100))" />

    <!-- Total Amount in Place Order screen -->
    <input type="hidden" name="processPaymentFlag" id="processPaymentFlag" [value]="1" />
    <input type="hidden" name="postingDateAPS" id="postingDateAPS" [value]="sysDate" />
    <input type="hidden" name="paymentIdAPS" id="paymentIdAPS" [value]="paymentId" />
    <!-- -- get it in 'Save Order Payment -->
    <!-- details' api response -->
    <input type="hidden" name="backUrl" id="backUrl" [value]="backUrl" escapeXml="true" />
    <!-- -- get it in 'Save Order  Payment details' api response -->
    <input type="hidden" name="catererId" id="catererId" [value]="catererId">
    <input type="hidden" name="sessionId" id="sessionId" [value]="loginres.AuthenticateUser.sessionId">
    <input type="hidden" name="userid" id="userid" [value]="loginres.AuthenticateUser.userId">
    <input type="hidden" name="isSuperadmin" id="isSuperadmin" value="0">
    <input type="hidden" name="eventId" id="eventId" [value]="orderDetails.orderNumber" />
    <!-- Order# from Order
  Details screen -->
    <input type="hidden" name="customer" id="customer" [value]="orderDetails.name" escapeXml="true" />
    <!-- Name from Order Details screen -->
    <input type="hidden" name="customerEmail" id="customerEmail" [value]="orderDetails.email" escapeXml="true" />
    <!-- Email from Order Details screen -->
    <input type="hidden" name="eventName" id="eventName" [value]="orderDetails.orderName" escapeXml="true" />
    <!-- Name from Order Details screen -->
    <input type="hidden" name="eventDate" id="eventDate" [value]="orderDetails.date" escapeXml="true" />
    <!-- Date    from Order Details screen -->
    <input type="hidden" name="invoiceNumber" id="invoiceNumber" [value]="orderDetails.orderNumber" escapeXml="true" />
    <!-- -- Order# from Order Details screen -->
  </form>

</div>