<!-- Header part for sections -->
<div class="list-items-container">
  <nav class="navbar navbar-expand-lg navbar-light  nav-container nav-responsive">

    <button class="navbar-toggler btn-responsive" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center w-100 p-0 click-dropdown">


        <li *ngFor="let item of category; let j=index" class="nav-item dropdown dropdown-menu-container pl-0" [ngStyle]="{'display': j >= 8 ? 'none' : '' }">
          <div *ngIf="j<8">


            <a class="nav-link dropdown-toggle nav-list-title " href="javascript:void(0)" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{item.sectionName}}<span class="ml-2"><i class="fa fa-angle-down"></i></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
              <li *ngFor="let sub of subCategory;  let k = index"><a *ngIf="sub.sectionName === category[j].sectionName"
                  class="dropdown-item item-list AvenirLTStd-Heavy" href="javascript:void(0)"
                  (click)="loadSubsection(sub)">{{sub.subSectionName}} </a></li>
              <!-- <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a> -->

            </ul>
          </div>
        </li>
        <li *ngIf="category.length>8" class=" more-container">
          <div class="more-menu-container">
            <a class="nav-link dropdown-toggle nav-list-title nav-more" href="javascript:void(0)">
              <span class="ml-2"><i class="fa fa-th"></i></span> More
            </a>
            <ul class="more-inner p-0 ">
  
  
              <li *ngFor="let item of category; let j=index"  [ngStyle]="{'display': j <= 8 ? 'none' : '' }"
                class="nav-item dropdown dropdown-menu-container position-relative">
                <div class="dropleft">
                  <a *ngIf="j>8" class="nav-link dropdown-toggle nav-list-title color-black color-white-responsive" href="javascript:void(0)" id="navbarDropdown"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{item.sectionName}}<span class="ml-2"><i class="fa fa-angle-down"></i></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
                    <div *ngFor="let sub of subCategory;  let k = index">
                      <a *ngIf="sub.sectionName === category[j].sectionName"
                        class="dropdown-item item-list AvenirLTStd-Heavy" href="javascript:void(0)" (click)="loadSubsection(sub)" >{{sub.subSectionName}}</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="custom-bag">
  <i class="fa fa-shopping-cart cater-shopping-cart f-24 cursor-pointer" aria-hidden="true"></i>
  <div class="bag-items">
    <app-cater-theme-one-cart></app-cater-theme-one-cart>
  </div>
</div>
<div class="position-relative" *ngIf="authservice.isuserLoggedin()">
  <span class="f-18 btn-myorders px-3 py-1" routerLink='/orders-list'>
    <i class="fa fa-shopping-basket mr-2" aria-hidden="true"></i>
    <!-- <i class="fa fa-plus-circle mr-2" aria-hidden="true"></i> -->
    My Orders
  </span>
</div>

<div>
  <div class="custom-theme-description mt-1 ml-5">
    <h3 class="custom-main-course mt-2 mb-0">{{subSectionMenu[0]?.sectionName}}</h3>
    <p class="sub-description-text-cater mb-1">{{subSectionMenu[0]?.subSectionName}}</p>
  </div>

  <div class="d-flex justify-content-around mb-2">
    <div class="filter position-relative">
      <input type="text" placeholder="Search.." [(ngModel)]="userFilter" name="search" class="cater-search">
      <i class="fas fa-filter mx-2 pointer filter-icon" (click)="openFilter()"></i>

      <div class="filters" [ngClass]="apply?'show':''">
        <div class="form-group">
          <input type="checkbox" value="" (click)="filterdata('spicy',$event)" [checked]="domspicy" id="flexCheckDefault">
          <label for="flexCheckDefault">Spicy</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="" (click)="filterdata('vegan',$event)" [checked]="domvegan" id="flexCheckChecked1">
          <label for="flexCheckChecked1">Vegan</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="" (click)="filterdata('vegetarian',$event)"[checked]="domvegetarian" id="flexCheckChecked4">
          <label for="flexCheckChecked4">Vegetarian</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="" (click)="filterdata('glutenFree',$event)" [checked]="domglutenFree" id="flexCheckChecked2">
          <label for="flexCheckChecked2">Gluten Free</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="" (click)="filterdata('nutFree',$event)"[checked]="domnutFree" id="flexCheckChecked3">
          <label for="flexCheckChecked3">Nuts Free</label>
        </div>

        <div class="d-flex"><button type="button" class="btn btn-primary pull-right p-1" style="        
        border-radius: 5px;
        width: 92px;
        color: white;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 5px 5px 9px #888888;
        font-size: 14px;" (click)="filterarray()">Apply</button>
         <button type="button" class="btn btn-primary pull-right p-1 ml-3" style="        
         border-radius: 5px;
         width: 92px;
         color: white;
         height: 30px;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
         box-shadow: 5px 5px 9px #888888;
         font-size: 14px;" (click)="filterClose()">Close</button>
      </div></div>
    </div>

    <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
  </div>
  <!-- </div> -->
</div>

<div class="container card-container">
  <div class="row"> 
    <div class="col-md-4"
      *ngFor="let item of userFilter.trim().length>0||spicy||nutFree||vegan||vegetarian||glutenFree ?(newMenu|Itemfilter:{itemName:userFilter.trim(),description:userFilter.trim()}:false):(subSectionMenu);let i=index">
      <figure class="card card-product position-relative">
        <div class="img-wrap"></div>
        <figcaption class="info-wrap">
          <div class="custom-image-wrap-container">
            <div class="width-alignments-description">
              <h4 class="title pt-2" title="{{item.itemName}}">{{item.itemName |slice:0:40 }}</h4>
              <p class="desc order-desc" title="{{item.description}}" >{{item.description
                |slice:0:60}}{{item?.description?.length>60?'....':''}}</p>
                <!-- <div class="w-100 pr-2 pb-2" *ngIf="item.packageComboFlag==0 && item.itemAddOnsList.length>0">
                  <select  [(ngModel)]="item.addonSelected" (change)="onAddOn(item,i);"  id="draftStatus" class=" form-control w-100">
                    <option [value]="undefined" selected>Add On<span *ngIf="item.mandateAddons==0"> *</span></option>
                    <option [value]="addon.addOnId" *ngFor="let addon of item.itemAddOnsList">{{addon.addOnName}}</option>
                </select>
                </div> -->
              <div class="d-flex justify-content-between">
                <p class="label-rating mb-2">${{item.price.toFixed(2)}}</p>
                <div class="cart-buttons d-flex select-cart-btns">
                  <i class="fa fa-minus-circle px-1 orange " *ngIf="item.quantity > 0" aria-hidden="true"
                    (click)="decreaseQuantity(item,template)"></i>
                  <span class="px-1 my-0 py-0" *ngIf="item.quantity > 0">{{item.quantity}}</span>
                  <!-- <i class="fa fa-plus-circle px-1 orange" aria-hidden="true" (click)="addToCart(item)"></i> -->
                  <i class="fa fa-plus-circle px-1 orange" aria-hidden="true" (click)="newmodel(item)"></i>
                  <!-- <button type="button" class="button-customize">Customize</button>
                    <button type="button" class="theme-button-width-alignment">ADD</button> -->
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-between bottom-items mt-0" style="height: 22px;">

                <div class="icons-inner flex-grow-1">
                  <img src="assets/images/Spicy.png" *ngIf="item.spicy==1" alt="GlutenFree" class="img-fluid mr-2"
                    title="Spicy" class="type-image">
                    <img src="assets/images/Vegetarian.png" *ngIf="item.vegan==1" alt="GlutenFree" class="img-fluid"
                    class="type-image" title="Vegan">
                  <img src="assets/images/Vegan.png" *ngIf="item.vegetarian==1" alt="GlutenFree" class="img-fluid"
                    class="type-image" title=" Vegetarian">
                  <img src="assets/images/GlutenFree.png" *ngIf="item.glutenFree==1" alt="GlutenFree" class="img-fluid"
                    title="Gluten Free" class="type-image">
                  <img src="assets/images/NutsFree.png" *ngIf="item.nutFree==1" alt="GlutenFree" class="img-fluid"
                    title="Nuts Free" class="type-image">
                </div>
                <div *ngIf="item.glutenFree==1&&item.nutFree==1&&item.spicy==1&&item.vegan==1&&item.vegetarian==1">

                </div>
                <i class="fas fa-clock mr-3 mt-2" (click)="getItemAvailability(item)"
                  title="Click to see item Availability" *ngIf="item.availabilityIndicator==='1'"
                  style="color:#dc3545!important; cursor:pointer; font-size: 22px; float:right;"></i>
              </div>
            </div>

            <div class="modal fade bd-example-modal-lg availability-modal" tabindex="-1" id="itemavail" role="dialog"
              aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog  modal-dialog-centered modal-lg">
                <div class="modal-content ">
                  <div class="bg-gre d-flex justify-content-between py-2">
                    <div></div>
                    <h5 class="modal-title" id="exampleModalLongTitle">{{itempopupname}} - Availability</h5>
                    <button type="button" class="close pr-2 text-white" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="inner-content p-3">

                    <div class="row avaibility-items justify-content-center ">
                      <!-- <div class="col-md-4 text-center" *ngIf="alldaysAvailbilty">                    
                        <i class="far fa-calendar-alt " style="font-size: 30px;"></i><br>
                        <span class="m-0 f-14">
                          All weekdays 
                        </span>
                      </div> -->
                      <div class="col-md-4 text-center" *ngIf="!alldaysAvailbilty &&itemavailbledays.length==1">
                        <i class="far fa-calendar-alt " style="font-size: 30px;"></i><br>
                        <span class="m-0 f-14">
                          <span *ngFor="let day of itemavailbledays;let i=index">{{day}}</span> </span>
                      </div>
                      <div class="col-md-4 text-center" *ngIf="!alldaysAvailbilty&&itemavailbledays.length>1">
                        <i class="far fa-calendar-alt " style="font-size: 30px;"></i><br>
                        <span class="m-0 f-14">
                          <span *ngFor="let day of itemavailbledays;let i=index">{{i==itemavailbledays.length-1?' and  '+day:day}}{{i==itemavailbledays.length-2||i==itemavailbledays.length-1?'':', '}}</span>
                        </span>
                      </div>
                      <div class="col-md-4 text-center"
                        *ngIf="itemAvailability[0]?.effectiveFromTime.length>1&&itemAvailability[0]?.effectiveToTime?.length>1">
                        <i class="fas fa-clock" style="font-size: 30px;"></i><br>
                        <span class="m-0 f-14">
                          From&nbsp;{{itemAvailability[0]?.effectiveFromTime}}&nbsp;To&nbsp;
                          {{itemAvailability[0]?.effectiveToTime}}</span>
                      </div>
                      <div class="col-md-4 text-center"
                        *ngIf="itemAvailability[0]?.effectiveFromTime.length>1&&itemAvailability[0]?.effectiveToTime?.length==0">
                        <i class="fas fa-clock" style="font-size: 30px;"></i><br>
                        <span class="m-0 f-14">
                          From&nbsp;{{itemAvailability[0]?.effectiveFromTime}}</span>
                      </div>
                      <div class="col-md-4 text-center"
                        *ngIf="itemAvailability[0]?.effectiveFromDate.length>1&&itemAvailability[0]?.effectiveToDate?.length>1">
                        <i class="fas fa-calendar-week" style="font-size: 30px;"></i><br>
                        <span class="m-0 f-14">
                          From&nbsp;{{itemAvailability[0]?.effectiveFromDate}}&nbsp;To&nbsp;
                          {{itemAvailability[0]?.effectiveToDate}}</span>
                      </div>
                      <div class="col-md-4 text-center"
                        *ngIf="itemAvailability[0]?.effectiveFromDate.length>1&&itemAvailability[0]?.effectiveToDate?.length==0">
                        <i class="fas fa-calendar-week" style="font-size: 30px;"></i><br>
                        <span class="m-0 f-14">
                          From&nbsp;{{itemAvailability[0]?.effectiveFromDate}}</span>
                      </div>
                    </div>


                    <!-- <p class="m-2 box-shadow" *ngIf="alldaysAvailbilty"> Item is available on All days.</p>
                    <p class="m-2 box-shadow" *ngIf="!alldaysAvailbilty &&itemavailbledays.length==1"> Item is available
                      on <span *ngFor="let day of itemavailbledays;let i=index">{{day}}</span> </p>
                    <p class="m-2 box-shadow" *ngIf="!alldaysAvailbilty&&itemavailbledays.length>1"> Item is available
                      on <span *ngFor="let day of itemavailbledays;let i=index">{{i==itemavailbledays.length-1?' and '+day:day}}{{i==itemavailbledays.length-2||i==itemavailbledays.length-1?'':', '}}</span> </p>
                    <p class="m-2 box-shadow"
                      *ngIf="itemAvailability[0]?.effectiveFromTime.length>1&&itemAvailability[0]?.effectiveToTime?.length>1">
                      Item is available between {{itemAvailability[0]?.effectiveFromTime}}&nbsp;and&nbsp;
                      {{itemAvailability[0]?.effectiveToTime}} </p>
                    <p class="m-2 box-shadow"
                      *ngIf="itemAvailability[0]?.effectiveFromDate.length>1&&itemAvailability[0]?.effectiveToDate?.length>1">
                      Item is available between {{itemAvailability[0]?.effectiveFromDate}}&nbsp;and&nbsp;
                      {{itemAvailability[0]?.effectiveToDate}} </p> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Card Image -->
            <div class="cater-image-burger  h-100">
              <img *ngIf="item.blobcontent" [src]="('data:image/JPEG;base64,' + item.blobcontent) | domsanitize" alt=""
                class="foodie foodie-theme img-fluid h-100" [ngClass]="{'right-img':item.packageComboFlag==0}" >
              <img *ngIf="!item.blobcontent" src="assets/images/cater/01.png" alt="" class="foodie foodie-theme img-fluid h-100"  [ngClass]="{'right-img':item.packageComboFlag==0}">
            </div>
          </div>
        </figcaption>
      </figure>
    </div>


  </div>
</div>
<div class="cater-review-orders-btn">
  <button type="button" [routerLink]="['/orders']" routerLinkActive="router-link-active" *ngIf="reviewOrdersCount>0"
    class="custom-review cater-custom-review">Review Order<span
      class="review-seven">{{reviewOrdersCount}}</span></button>
</div>



<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->
 
<ng-template #template>
  <!-- <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body">
    <span>
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
<h6 class="AvenirLTStd-Medium">For Selected menu item addon is mandatory</h6>
    </span>
  </div>
</ng-template>