::ng-deep{
  .hide-page-numbers{
    .ngx-pagination{
      li:not(.pagination-previous):not(.pagination-next) {
        display: none;
      }
      li.disabled{
        display: none;
      }
      li a{
        &::after{
          margin-bottom: 4px;
        }
        &::before{
          margin-bottom: 4px;
        }
        &:hover{
          background: none;
        }
        color: white;
        background: none;
      }
    }
  }
  .showmore{
    display: flex;
    list-style: none;
    font-size: 25px;
    ul{
      margin: 0;
      padding: 0;
    }
  }
}

@media(min-width:991px){
  .custom-scroll-new-theme{
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: 0px 3px 0px 3px;
    padding: 0 0 0 122px;
   }
   .scroll-left-icon{
     left: 0;
     margin-top: -5px;
     font-size: 25px;
     width: 20px;
     margin-left: 5px;
   }
   .scroll-right-icon{
     right: 0;
     margin-top: -5px;
     font-size: 25px;
     width: 20px;
     margin-right: 5px;
   }
   .clear{
     clear: both;
   }
}


@media(max-width:991px){
  .custom-scroll-new-theme{
    // display: block !important;
  }
    .scroll-left-icon{
    display: none;
}
.scroll-right-icon{
  display: none;
}
}

