<div class="list-items-container">
  <nav class="navbar navbar-expand-lg navbar-light  nav-container nav-responsive">

    <button class="navbar-toggler btn-responsive" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center justify-content-between w-100 p-0 click-dropdown">


        <li *ngFor="let item of category; let j=index" class="nav-item dropdown dropdown-menu-container pl-0" [ngStyle]="{'display': j >= 8 ? 'none' : '' }">
          <div *ngIf="j<8">


            <a class="nav-link dropdown-toggle nav-list-title " href="javascript:void(0)" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{item.sectionName}}<span class="ml-2"><i class="fa fa-angle-down"></i></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
              <li *ngFor="let sub of subCategory;  let k = index"><a *ngIf="sub.sectionName === category[j].sectionName"
                  class="dropdown-item item-list AvenirLTStd-Heavy" href="javascript:void(0)"
                  (click)="loadSubsection(sub)">{{sub.subSectionName}} </a></li>
              <!-- <a class="dropdown-item item-list AvenirLTStd-Heavy " href="#">Another action</a> -->

            </ul>
          </div>
        </li>
        <li *ngIf="category.length>8" class=" more-container">
          <div class="more-menu-container">
            <a class="nav-link dropdown-toggle nav-list-title nav-more" href="javascript:void(0)">
              <span class="ml-2"><i class="fa fa-th"></i></span> More
            </a>
            <ul class="more-inner p-0 ">
  
  
              <li *ngFor="let item of category; let j=index"  [ngStyle]="{'display': j <= 8 ? 'none' : '' }"
                class="nav-item dropdown dropdown-menu-container position-relative">
                <div class="dropleft">
                  <a *ngIf="j>8" class="nav-link dropdown-toggle nav-list-title color-black color-white-responsive" href="javascript:void(0)" id="navbarDropdown"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{item.sectionName}}<span class="ml-2"><i class="fa fa-angle-down"></i></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-content" aria-labelledby="navbarDropdown">
                    <div *ngFor="let sub of subCategory;  let k = index">
                      <a *ngIf="sub.sectionName === category[j].sectionName"
                        class="dropdown-item item-list AvenirLTStd-Heavy" href="javascript:void(0)" (click)="loadSubsection(sub)" >{{sub.subSectionName}}</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
     

    </div>
  </nav>
</div>