<ngx-spinner bdColor="rgba(0,0,0,0.5)" size="medium" color="#0044dd" type="ball-clip-rotate-multiple"
    [fullScreen]="true">
    <p style="color: white;"> Loading... </p>
</ngx-spinner>
<div >
<app-header *ngIf="authservice.random()"></app-header>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>


