
// .theme-nav{
//     margin-top: 92px;
//   }
  
//   .card-product{
//     top: 0 !important;
//   }
  
//   @media(min-width:768px) {
  
//     .card-product{
//       margin-right: -20px !important;
//     }
//     }
  
//   @media all and (min-width: 992px) {
//       .navbar .nav-item .dropdown-menu{ display: none; }
//       .navbar .nav-item:hover .nav-link{ color: #fff;  }
//       .navbar .nav-item:hover .dropdown-menu{ display: block;}
//       .navbar .nav-item .dropdown-menu{ margin-top:0;}
//   }
  
//   @media (min-width: 992px){}
//   .navbar-expand-lg .navbar-collapse {
//       justify-content: space-around;
//   }
  
//   @media(max-width:320px) {
  
//     .foodie-theme {
//       width: 110px !important;
//   }
//     }
  
//     @media(max-width:768px) {
  
//       .foodie-theme {
//         width: 100% !important;
//     }
//       }
  
  
//   .navbar-expand-lg{
//       margin-top: 92px;
//       background-color: #262262 !important;
//       padding: 0 !important;
//   }
  
//   .dropdown-toggle::after {
//       display: none !important;
//   }
  
//   .navbar-dark .navbar-nav .nav-link {
//       color: white;
//       font-size: 18px;
//   }
//   .cater-theme-search{
//       color: #fff;
//       position: relative;
//       top: 0;
//       left: 0px;
//       z-index: 99;
//       opacity: 1;
//       cursor: pointer;
//   }
  
//   .custom-theme-description{
//     text-align: center;
//     position: relative;
//     top: 45px;
//   }
  
//   .card-product .img-wrap {
//       border-radius: 3px 3px 0 0;
//       overflow: hidden;
//       position: relative;
//       height: 0;
//       text-align: center;
//   }
//   .card-product .img-wrap img {
//       max-height: 100%;
//       max-width: 100%;
//       object-fit: cover;
//   }
//   .card-product .info-wrap {
//     overflow: hidden;
//     border-top: 1px solid #eee;
//   }
//   .card-product .bottom-wrap {
//       padding: 15px;
//       border-top: 1px solid #eee;
//   }
  
//   .label-rating {
//       margin-right:10px;
//       color: dimgrey;
//       display: inline-block;
//       vertical-align: middle;
//       font-size: 15px;
//   }
  
//   .card-product .price-old {
//       color: #999;
//   }
  
  
//   .card-container {
//     max-width: 1310px !important;
//     margin-top: 92px;
//   }
//   .title{
//       font-size: 1.0rem !important;
//       font-weight: 600;
//   }
  
//   .desc{
//       font-weight: 600;
//   }
//   .custom-main-course{
//       font-weight: 600;
//   }
//   .sub-description-text-cater{
//       color: dimgrey;
//       letter-spacing: 1.2px;
//   }
//   .custom-image-wrap-container{
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//   }
  
//   .theme-one-icons{
//     position: relative;
//       top: 1px;
//       left: 20px;
//       color: #fff;
//   }
//   .theme-button-width-alignment{
//     padding: 2px 10px 0px 10px;
//     background: #f08b2d;
//     border: #f08b2d;
//     color: #fff;
//     font-weight: 600;
//     font-size: 15px;
//   }
//   .foodie-theme{
//     min-height: 170px;
//   }
//   .button-customize{
//     background: #f08b2d;
//     border: #f08b2d;
//     color: #fff;
//     font-weight: 600;
//     margin: 0 5px 0px 0px;
//     font-size: 15px;
    
//   }