<div class="combo-wrapper">
  <div class="">
    <div class="modal-content">
      <div class="modal-header m-0 text-white d-flex justify-content-between align-items-center ">
        <div> &nbsp; </div>
        <h5 class="modal-title m-auto">{{comboData?.ComboDetails?.comboName}}</h5>
        <i class="fas fa-times pr-2" (click)="closeModal()" style="cursor: pointer;" ></i>
      </div>

      <div class="modal-body">
        <div class="modal-body-second position-relative">
          <div class="">
            <img *ngIf="comboData?.ComboDetails?.blobcontent" [src]="('data:image/JPEG;base64,' + comboData?.ComboDetails?.blobcontent) | domsanitize" alt=""
                class="combo-img img-fluid h-100" >
              <img *ngIf="!comboData?.ComboDetails?.blobcontent" src="assets/images/cater/large-sample.jpg" alt="" class="combo-img img-fluid h-100"  >
          </div>
          <p class="px-3 py-4 text-white position-relative">
            {{comboData?.ComboDetails?.comboDescription}} 
          </p>
        </div>

        <div class="modal-body-wrapper">
          <div class="modal-footer border-0 d-flex justify-content-end p-0 amount-details">
                        
        
            <div class="price d-flex">
                <div class="mx-3">
                    <strong>Price:</strong> ${{comboData?.ComboDetails?.comboCost.toFixed(2)}}
                </div>              
            </div>


            <div class="mx-3">
                <strong>Amount:</strong> ${{(comboData?.ComboDetails?.comboCost * comboQuantityTotal).toFixed(2)}}
            </div>


            <div class="" *ngIf='!showSummary'>
                <i class="fa fa-minus mx-2" aria-hidden="true"
                    (click)="comboQuantityTotal>0?totalQuantityChange('minus'):''"></i>
                <span style="color: #fff; font-size: 18px;"> <b>{{comboQuantityTotal}}</b> </span>
                <i class="fa fa-plus mx-2" aria-hidden="true" (click)="totalQuantityChange('plus')"></i>
            </div>
            <div *ngIf='showSummary'>
                <span class="ml-2" style="color: #fff; font-size: 18px;"> Quantity: <b>{{comboQuantityTotal}}</b> </span>
            </div>
        </div>

        
          <div class="combos-wrapper mt-2" *ngIf="!showSummary">
            <!-- packages-->
            <div class="modal-body-item" *ngFor="let item of comboContentDisplayOrder;let j=index">
              <div id="toggle{{j}}" (click)="toogle('toggle',j)"
                class="drop acc-title  d-flex justify-content-between px-2 mb-2 align-items-center">
                <h5 class=" m-0">
                  {{item.packName}}
                  <!-- <div> -->
                  <!-- <p class="py-1 m-0 title-condition-wrap instruction-font">Please select between 1 and 9 items from
                      this list. The total item quantity
                      should
                      be equal to 1.</p> -->

                  <!-- </div> -->
                  <p class="py-1 m-0 title-condition-wrap instruction-font"
                    *ngIf="item.packagedetails.minItems && item.packagedetails.maxItems && item.packagedetails.packType !== '0'">
                    <span *ngIf="item.packagedetails.minItems !== item.packagedetails.maxItems"> Please select between
                      {{item.packagedetails.minItems}} and {{item.packagedetails.maxItems}} items from this list. The
                      total item
                      quantity should be equal to {{comboQuantityTotal * item.packagedetails.maxItemQty}}.</span>
                    <span
                      *ngIf="item.packagedetails.minItems === item.packagedetails.maxItems && item.packagedetails.minItems !=='0'&& item.packagedetails.maxItems !=='0'">
                      Please select {{item.packagedetails.minItems}} item(s) from this list. The total item quantity
                      should be
                      equal to {{comboQuantityTotal * item.packagedetails.maxItemQty}}.</span>
                    <span *ngIf="item.packagedetails.minItems ==='0'&& item.packagedetails.maxItems ==='0'"> Please
                      select item(s)
                      from this list. The total item quantity should be equal to {{comboQuantityTotal *
                      item.maxItemQty}}.</span>
                  </p>

                </h5>
                <i class="fas fa-angle-down mr-2 acc-icon"></i>
              </div>
              <div class="dropdown-content acc-body">
                <ng-container *ngFor="let data of item.data;let i=index;">
                  <div class="my-1 form-check d-flex justify-content-between">
                    <span>
                      <!-- <input type="checkbox" id="exampleCheck1" class="mr-2 f-18"> -->
                      <label class="form-check-label" for="exampleCheck1">{{data.itemName}}</label>
                    </span>
                    <div class="item-icons d-flex justify-content-start">
                      <i *ngIf="item.packagedetails.packType !== '0'" class="fa fa-minus mx-1"
                        (click)="data.itemQty>0?itemQuantitychange('minus',j,i):''" aria-hidden="true"></i>
                      <div [ngClass]='item.packagedetails.packType !== "0" ?"":"teardrop"'>
                        <span *ngIf="item.packagedetails.packType !== '0'" class="mx-1">{{data.itemQty}}</span>

                        <span *ngIf="item.packagedetails.packType === '0'" class="firsttext">{{data.itemQty}}</span>
                      </div>
                      <i *ngIf="item.packagedetails.packType !== '0'" class="fa fa-plus mx-1"
                        (click)="itemQuantitychange('plus',j,i)" aria-hidden="true"></i>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <!--menus division-->
            <div class="modal-body-item" *ngFor="let data of distinctserviceName;let i=index;">
              <ng-container *ngIf="data.packageId==0">

              <div class="drop acc-title d-flex justify-content-between px-2 mb-2 align-items-center" id="menu{{i}}"
                (click)="toogle('menu',i)">
                <h5 class=" m-0">
                  {{data.serviceName}}
                </h5>
                <i class="fas fa-angle-down mr-2 acc-icon"></i>
              </div>

              <div class="dropdown-content acc-body">
                <ng-container *ngFor="let item of comboContentNoPackegeId">

                  <div *ngIf="data.serviceName==item.serviceName"
                    class="my-1 form-check d-flex justify-content-between">
                    <span>
                      <!-- <input type="checkbox" id="exampleCheck1" class="mr-2 f-18"> -->
                      <label class="form-check-label" for="exampleCheck1">{{item.itemName}}</label>
                    </span>
                    <div class="item-icons d-flex justify-content-start">
                      <!-- <i class="fa fa-minus mx-1" aria-hidden="true"></i> -->
                      <div class='teardrop'>
                        <span class="firsttext">{{item.itemQty}}</span>
                      </div>
                      <!-- <i class="fa fa-plus mx-1" aria-hidden="true"></i> -->
                    </div>
                  </div>
                </ng-container>

              </div>
              </ng-container>

            </div>
          </div>


          <div class="confirmation-wrapper" *ngIf="showSummary">
            <!-- for packages -->
            <div *ngFor="let item of comboContentDisplayOrder;let j=index">
              <div class="title-wrapper py-1 px-2">
                <h5 class="m-0 package-title text-white">{{item.packName}}</h5>
              </div>
              <ng-container *ngFor="let data of item.data;let i=index;">

                <div class="" *ngIf="data.itemQty>0">
                  <div class="my-1 form-check d-flex justify-content-between">
                    <span>
                      <label class="form-check-label" for="exampleCheck1">{{data.itemName}}
                      </label>
                    </span>
                    <div class="item-icons d-flex justify-content-start">
                      <div class="teardrop">
                        <span class="firsttext">{{data.itemQty}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <!-- For Menus -->
            <div *ngFor="let data of distinctserviceName;let i=index;">
              <ng-container *ngIf="data.packageId==0">

                <div class="title-wrapper py-1 px-2">
                  <h5 class="m-0 package-title text-white">{{data.serviceName}}</h5>
                </div>
                <ng-container *ngFor="let item of comboContentNoPackegeId">
                  <div class="" *ngIf="data.serviceName==item.serviceName&&data.itemQty>0">
                    <div class="my-1 form-check d-flex justify-content-between">
                      <span>
                        <label class="form-check-label" for="exampleCheck1">{{data.itemName}}
                        </label>
                      </span>
                      <div class="item-icons d-flex justify-content-start">
                        <div class="teardrop">
                          <span class="firsttext">{{data.itemQty}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                </ng-container>
              
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center p-0" style="background: #c5c5c5;">
        <div *ngIf="showSummary" class="buttons d-flex justify-content-center">
            <button type="button" (click)="takeOrder()" class="btn btn-primary mx-3 pop-save" data-dismiss="modal"
               >Confirm</button>
        </div>
        <div *ngIf="!showSummary" class="buttons d-flex justify-content-center">
            <button type="button" (click)="onSave()" class="btn btn-primary mx-3 pop-save" data-dismiss="modal"
                >Save</button>
        </div>
    </div>
    </div>
  </div>

  <style>
    .acc-body {
      display: none;
    }
    .acc-body .show {
      display: block;
    }
  </style>