<div class="main">
  <!-- Side bar Div to display Section names -->
  <div class="w3-sidebar w3-bar-block w3-border-right responsive-side" id="mySidebar">
    <div id="sidebar-wrapper" class="hide">
        <button (click)="icontoggle()" class="w3-bar-item w3-large hide-toggle sidebar-button-cross"> &times;</button>
      <ul class="sidebar-nav">
          <li *ngFor="let item of sectionCategory">
              <div class="d-flex custom-image-section">
                  <!-- <img src="../../../assets/images/doorway.svg" class="image"> -->
                  <a  href="{{'#'+item}}">{{item | titlecase }}</a>
              </div>
          </li>
    
      </ul>
    </div>
    </div> 
    <!-- Display Items in Center of the screen  -->
  <div class="loader-width">

<div class="w3-teal">
   <button class="w3-button w3-teal w3-xlarge hide-toggle" (click)="icontoggle()">☰</button>


   <div id="page-content-wrapper">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12 recepie-wrapper">
               <div>
                  <div class="filter-input-text d-flex justify-content-between align-items-center">
                     <div class="d-flex align-items-center w-90 home-filters">
                        <input type="filter" #searchInput class="custom-search-bar col-md-12" placeholder="Search...">
                        <i class="fas fa-filter mx-2 pointer filter-icon" (click)="openFilter()"></i>
                        <div class="home filters" [ngClass]="apply?'show':''">
                           <div class="form-group">
                             <input type="checkbox" value="" (click)="filterdata('spicy',$event)" [checked]="domspicy" id="flexCheckDefault">
                             <label for="flexCheckDefault">Spicy</label>
                           </div>
                           <div class="form-group">
                             <input type="checkbox" value="" (click)="filterdata('vegan',$event)"[checked]="domvegan" id="flexCheckChecked1">
                             <label for="flexCheckChecked1">Vegan</label>
                           </div>
                           <div class="form-group">
                             <input type="checkbox" value="" (click)="filterdata('vegetarian',$event)"[checked]="domvegetarian" id="flexCheckChecked4">
                             <label for="flexCheckChecked4">Vegetarian</label>
                           </div>
                           <div class="form-group">
                             <input type="checkbox" value="" (click)="filterdata('glutenFree',$event)"[checked]="domglutenFree" id="flexCheckChecked2">
                             <label for="flexCheckChecked2">Gluten Free</label>
                           </div>
                           <div class="form-group">
                             <input type="checkbox" value="" (click)="filterdata('nutFree',$event)"[checked]="domnutFree" id="flexCheckChecked3">
                             <label for="flexCheckChecked3">Nuts Free</label>
                           </div>
                           <div class="d-flex">
                           <button type="button" class="btn btn-primary pull-right p-1" style="        
                           border-radius: 5px;
                           width: 92px;
                           color: white;
                           height: 30px;
                           display: flex;
                           align-items: center;
                           justify-content: center;
                           cursor: pointer;
                           box-shadow: 5px 5px 9px #888888;
                           font-size: 14px;" (click)="filterarray()">Apply</button>
                            <button type="button" class="btn btn-primary pull-right p-1 ml-3" style="        
                            border-radius: 5px;
                            width: 92px;
                            color: white;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            box-shadow: 5px 5px 9px #888888;
                            font-size: 14px;" (click)="filterClose()">Close</button>
                         </div>
                        </div>
                        <!-- <div class="filters">
                           <div class="form-check">
                             <input class="form-check-input mr-3" type="checkbox" value=""(click)="filterdata('spicy',$event)" id="flexCheckDefault">
                             <label class="form-check-label" for="flexCheckDefault">
                               Spicy
                             </label>
                           </div>
                           <div class="form-check">
                             <input class="form-check-input mr-3" type="checkbox" value=""(click)="filterdata('vegan',$event)" id="flexCheckChecked1" >
                             <label class="form-check-label" for="flexCheckChecked1">
                               Vegan
                             </label>
                           </div>
                           <div class="form-check">
                             <input class="form-check-input mr-3" type="checkbox" value=""(click)="filterdata('vegetarian',$event)" id="flexCheckChecked4" >
                             <label class="form-check-label" for="flexCheckChecked4">
                               Vegetarian
                             </label>
                           </div>
                           <div class="form-check">
                             <input class="form-check-input mr-3" type="checkbox" value=""(click)="filterdata('glutenFree',$event)" id="flexCheckChecked2" >
                             <label class="form-check-label" for="flexCheckChecked2">
                               Gluten Free
                             </label>
                           </div>
                           <div class="form-check">
                             <input class="form-check-input mr-3" type="checkbox" value="" (click)="filterdata('nutFree',$event)"id="flexCheckChecked3" >
                             <label class="form-check-label" for="flexCheckChecked3">
                               Nuts free
                             </label>
                           </div>
                           <button type="button" class="btn btn-primary pull-right p-1" style="        
                           border-radius: 5px;
                           width: 92px;
                           color: white;
                           height: 30px;
                           display: flex;
                           align-items: center;
                           justify-content: center;
                           cursor: pointer;
                           box-shadow: 5px 5px 9px #888888;
                           font-size: 14px;">Apply</button>
                         </div> -->
                        <!-- <div class="modal fade home-filter-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                           <div class="modal-dialog" role="document">
                             <div class="modal-content">
                               <div class="modal-body">
                                 <div class="form-check">
                                   <input class="form-check-input" type="checkbox" value=""(click)="filterdata('spicy',$event)" id="flexCheckDefault">
                                   <label class="form-check-label" for="flexCheckDefault">
                                     Spicy
                                   </label>
                                 </div>
                                 <div class="form-check">
                                   <input class="form-check-input" type="checkbox" value=""(click)="filterdata('vegan',$event)" id="flexCheckChecked1" >
                                   <label class="form-check-label" for="flexCheckChecked1">
                                     Vegan
                                   </label>
                                 </div>
                                 <div class="form-check">
                                   <input class="form-check-input" type="checkbox" value=""(click)="filterdata('vegetarian',$event)" id="flexCheckChecked4" >
                                   <label class="form-check-label" for="flexCheckChecked4">
                                     Vegetarian
                                   </label>
                                 </div>
                                 <div class="form-check">
                                   <input class="form-check-input" type="checkbox" value=""(click)="filterdata('glutenFree',$event)" id="flexCheckChecked2" >
                                   <label class="form-check-label" for="flexCheckChecked2">
                                     Gluten Free
                                   </label>
                                 </div>
                                 <div class="form-check">
                                   <input class="form-check-input" type="checkbox" value="" (click)="filterdata('nutFree',$event)"id="flexCheckChecked3" >
                                   <label class="form-check-label" for="flexCheckChecked3">
                                     Nuts Free
                                   </label>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div> -->
                     </div>
                     <span  class="orders-btn mr-2" *ngIf="autthservice.isuserLoggedin()" routerLink='/orders-list'>
                        <i class="fa fa-shopping-basket mr-2" aria-hidden="true"></i>
                        My orders
                     </span>
                  </div>
                  <!-- //main item -->
                  <ng-container *ngFor="let item of category; let j=index;">
                     <div class="custom-text-entrees">
                        <h1 class="custom-entries" *ngIf="!loading" id="{{item.sectionName}}">{{item.sectionName}}</h1>
                     </div>
                  <!-- sublist items  -->
                     <ng-container *ngFor="let sub of subCategory  let k = index;">
                        <h6 class="sub-sec-align" *ngIf="sub.sectionName === category[j].sectionName && !loading">
                           {{sub.subSectionName }}</h6>
                        <div class="custom-items-wrapper">
                           <div class="boxes-wrapper nav">
                            <!-- inner menu items  -->
                              <ng-container  *ngFor="let data of newMenu; let i=index;">
                                 <div class="col-md-6 pl-0 "
                                    *ngIf="data.sectionName === category[j].sectionName && data.subSectionName === subCategory[k].subSectionName">
                                    <div class="custom-box-wrapper position-relative">
                                       <div class="custom-image-wrapper-text">
                                          <div class="custom-items-description">
                                             <h2 class="custom-firsthead-content">{{data.itemName}}</h2>
                                             <p class="custom-fonts mb-2 " title="{{data.description }}">{{data.description |slice:0:60}}{{data?.description?.length>60?"...":''}}</p>
                                             <!-- <div class="w-100 pr-2 pb-2" *ngIf="data.packageComboFlag==0 && data.itemAddOnsList.length>0">
                                              <select   id="draftStatus" class=" form-control w-100" [(ngModel)]="data.addonSelected" (change)="onAddOn(data,i);" >
                                                <option  [value]="undefined" selected>Add On</option>
                                                <option [value]="addon.addOnId" *ngFor="let addon of data.itemAddOnsList">{{addon.addOnName}}</option>
                                            </select>
                                            </div> -->
                                             <div
                                                class="custom-addCart-Btn d-flex align-items-center justify-content-between">
                                                <span class="custom-dollar">${{data.price.toFixed(2)}}</span>
                                                <div class="d-flex align-items-center">
                                                   <i class="fa fa-minus-circle px-1 orange " *ngIf="data.quantity > 0"
                                                      aria-hidden="true" (click)="decreaseQuantity(data)"></i>
                                                   <span class="px-1 my-0 py-0"
                                                      *ngIf="data.quantity > 0">{{data.quantity}}</span>
                                                   <i class="fa fa-plus-circle px-1 orange" aria-hidden="true"
                                                      (click)="newmodel(data)"></i>
                                                </div>
                                             </div>
                                             <div class="d-flex align-items-center justify-content-between mb-2 food-type" >

                                                <div class="icons-inner flex-grow-1 ">
                                                   <img src="assets/images/Spicy.png"*ngIf="data.spicy==1" alt="spicy" class="img-fluid" class="type-image" title="Spicy">
                                                   <img src="assets/images/Vegetarian.png"*ngIf="data.vegan==1" alt="Vegetarian" class="img-fluid" class="type-image" title=" Vegan">
                                                   <img src="assets/images/Vegan.png" *ngIf="data.vegetarian==1"alt="vegan" class="img-fluid" class="type-image" title="Vegetarian">
                                                   <img src="assets/images/GlutenFree.png" *ngIf="data.glutenFree==1" alt="Gluten Free" class="img-fluid" class="type-image" title="Gluten Free">
                                                   <img src="assets/images/NutsFree.png"*ngIf="data.nutFree==1" alt="Nur Free" class="img-fluid" class="type-image" title="Nuts Free">
                                                </div>
                                
                                                <i class="fas fa-clock text-danger mt-2" title="Click to see item Availability" *ngIf="data.availabilityIndicator==='1'"  (click)="getItemAvailability(data)"
                                                style="position: inherit; left: 0; bottom: 0; cursor:pointer; font-size: 20px;"></i>
                                              </div>
                                             
                                                  
                                                <!-- icons based on condition -->
                                             <!-- <div class="modal fade bd-example-modal-lg availability-modal"
                                                tabindex="-1" id="itemavail" role="dialog"
                                                aria-labelledby="myLargeModalLabel"  aria-hidden="true">
                                                <div class="modal-dialog modal-lg">

                                                </div>
                                             </div> -->
                                          </div>
                                          <div class="custom-section-image h-auto">
                                             <img *ngIf="!data.blobcontent" src="assets/images/cater/01.png" alt=""
                                                class="foodie img-fluid ">
                                             <!-- <img src="data:image/JPEG;base64,{{data.blobcontent}}" alt="" class="foodie img-fluid"> -->
                                             <img *ngIf="data.blobcontent"
                                                [src]="('data:image/JPEG;base64,' + data.blobcontent) | domsanitize"
                                                alt="" class="foodie img-fluid">


                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </ng-container>
                           </div>
                        </div>
                     </ng-container>
                  </ng-container>
                  
                  <div class="modal fade bd-example-modal-lg availability-modal" tabindex="-1" id="itemavail" role="dialog"
                  aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content ">
                      <div class="bg-gre d-flex justify-content-between py-2">
                        <div></div>
                        <h5 class="modal-title" id="exampleModalLongTitle">{{itempopupname}} - Availability</h5>
                        <button type="button" class="close pr-2 text-white" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="inner-content p-3">
    
                        <div class="row avaibility-items justify-content-center ">
                          <!-- <div class="col-md-4 text-center" *ngIf="alldaysAvailbilty">                    
                            <i class="far fa-calendar-alt " style="font-size: 30px;"></i><br>
                            <span class="m-0 f-14">
                              All weekdays 
                            </span>
                          </div> -->
                          <div class="col-md-4 text-center" *ngIf="!alldaysAvailbilty &&itemavailbledays.length==1">                    
                            <i class="far fa-calendar-alt " style="font-size: 30px;"></i><br>
                            <span class="m-0 f-14">
                              <span *ngFor="let day of itemavailbledays;let i=index">{{day}}</span>                        </span>
                          </div>
                          <div class="col-md-4 text-center" *ngIf="!alldaysAvailbilty&&itemavailbledays.length>1">                    
                            <i class="far fa-calendar-alt " style="font-size: 30px;"></i><br>
                            <span class="m-0 f-14">
                              <span *ngFor="let day of itemavailbledays;let i=index">{{i==itemavailbledays.length-1?' and '+day:day}}{{i==itemavailbledays.length-2||i==itemavailbledays.length-1?'':', '}}</span>                        </span>
                          </div>
                          <div class="col-md-4 text-center" *ngIf="itemAvailability[0]?.effectiveFromTime.length>1&&itemAvailability[0]?.effectiveToTime?.length>1">
                            <i class="fas fa-clock" style="font-size: 30px;"></i><br>
                            <span class="m-0 f-14">
                              From&nbsp;{{itemAvailability[0]?.effectiveFromTime}}&nbsp;To&nbsp;
                              {{itemAvailability[0]?.effectiveToTime}}</span>
                          </div>
                          <div class="col-md-4 text-center"*ngIf="itemAvailability[0]?.effectiveFromTime.length>1&&itemAvailability[0]?.effectiveToTime?.length==0">
                            <i class="fas fa-clock" style="font-size: 30px;"></i><br>
                            <span class="m-0 f-14">
                              From&nbsp;{{itemAvailability[0]?.effectiveFromTime}}</span>
                          </div>
                           <div class="col-md-4 text-center"*ngIf="itemAvailability[0]?.effectiveFromDate.length>1&&itemAvailability[0]?.effectiveToDate?.length>1">
                            <i class="fas fa-calendar-week" style="font-size: 30px;"></i><br>
                            <span class="m-0 f-14">
                             From&nbsp;{{itemAvailability[0]?.effectiveFromDate}}&nbsp;To&nbsp;
                              {{itemAvailability[0]?.effectiveToDate}}</span>
                          </div>
                          <div class="col-md-4 text-center"*ngIf="itemAvailability[0]?.effectiveFromDate.length>1&&itemAvailability[0]?.effectiveToDate?.length==0">
                            <i class="fas fa-calendar-week" style="font-size: 30px;"></i><br>
                            <span class="m-0 f-14">
                              From&nbsp;{{itemAvailability[0]?.effectiveFromDate}}</span>
                          </div>
                       </div>
    
    
                        <!-- <p class="m-2 box-shadow" *ngIf="alldaysAvailbilty"> Item is available on All days.</p>
                        <p class="m-2 box-shadow" *ngIf="!alldaysAvailbilty &&itemavailbledays.length==1"> Item is available
                          on <span *ngFor="let day of itemavailbledays;let i=index">{{day}}</span> </p>
                        <p class="m-2 box-shadow" *ngIf="!alldaysAvailbilty&&itemavailbledays.length>1"> Item is available
                          on <span *ngFor="let day of itemavailbledays;let i=index">{{i==itemavailbledays.length-1?' and '+day:day}}{{i==itemavailbledays.length-2||i==itemavailbledays.length-1?'':', '}}</span> </p>
                        <p class="m-2 box-shadow"
                          *ngIf="itemAvailability[0]?.effectiveFromTime.length>1&&itemAvailability[0]?.effectiveToTime?.length>1">
                          Item is available between {{itemAvailability[0]?.effectiveFromTime}}&nbsp;and&nbsp;
                          {{itemAvailability[0]?.effectiveToTime}} </p>
                        <p class="m-2 box-shadow"
                          *ngIf="itemAvailability[0]?.effectiveFromDate.length>1&&itemAvailability[0]?.effectiveToDate?.length>1">
                          Item is available between {{itemAvailability[0]?.effectiveFromDate}}&nbsp;and&nbsp;
                          {{itemAvailability[0]?.effectiveToDate}} </p> -->
                      </div>
                    </div>
                  </div>
                </div>

                  <button type="button" [routerLink]="['/orders']" routerLinkActive="router-link-active"
                     class="custom-review" *ngIf="reviewOrdersCount>0 ">Review Order<span
                        class="review-seven">{{reviewOrdersCount}}</span></button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<app-cart-items></app-cart-items>

</div>