<div class="" style="height: 86vh; overflow: auto; margin-top: 97px;">
  <div class="custom-orders-header py-1">
    <h2 class="order-content-text m-0">Review Order</h2>
  </div>
  <div class="custom-inquiry-box custom-add-more mt-5">
    <div class="custom-order-items-wrapper" *ngFor="let item of cartItems; let i = index;">
      <i class="fa fa-trash mr-2" aria-hidden="true" (click)="deleteItem(i)"></i>
      <form class="quantity-form w-50px">
        <input class="quantity w-100" autocomplete="off" type="number" name="quantity" min="0"
          [(ngModel)]="item.quantity" (change)="changeQuantity(i,$event)" value="1">
      </form>
      <div class="custom-rate r-0">
        <P class="custom-summer-fonts pl-3 AvenirLTStd-Heavy">{{item.itemName}}</P>
      </div>
      <div class="d-flex align-items-center">
        <P class="custom-font-weight">${{(item.quantity * item.price).toFixed(2)}}</P>
      </div>
    </div>
    <!-- package -->
    <div class="custom-order-items-wrapper " *ngFor="let item of packageItems; let i = index;">
      <i class="fa fa-trash mr-2" aria-hidden="true" (click)="deletePackage(i)"></i>
      <form class="quantity-form w-50px">
        <input class="quantity w-100" disabled autocomplete="off" type="text" name="quantity" min="1"
          [(ngModel)]="item.PackageDetails.PkgQty ">
      </form>
      <div class="custom-rate r-0">
        <h5 class="custom-summer-fonts pl-3 AvenirLTStd-Heavy">{{item.PackageDetails.packageName}}</h5>
        <!-- [<ng-container *ngFor="let pkgItem of item.PackageItems"> 
          <span style="font-size: 12px;" class="" *ngIf="pkgItem.pkgItemQty>0;let i=index" >{{pkgItem.pkgItemname}}, </span>
         </ng-container>] -->
        <!-- <span *ngIf="item.subMenu" style="font-size: 12px;"> [{{item.subMenu}}]</span> -->
        <!-- <ul *ngIf="item.PackageDetails.packageItemLevelPriceFlag==1" style=" list-style: inside; " class="">
          <ng-container *ngFor="let pkgItem of item.PackageItems">
            <li class="f-14 d-flex align-items-center justify-content-between" *ngIf="pkgItem.pkgItemQty>0">
              <span class="col-9 p-0">&#8226;&nbsp; {{pkgItem.pkgItemname}}</span>
              <span class="col-3 mn-150 text-right">:
                <span class="col-5 p-0">
                  {{pkgItem.pkgItemQty}}
                </span>
                <span class="col-2 px-1">
                  X&nbsp;$
                </span>
                <span class="col-5 p-0">
                 {{pkgItem.pkgItemPrice.toFixed(2)}}
                </span>
              </span>
         
            </li>
          </ng-container>
        </ul> -->
        <div class="pl-4 pr-2">
          <table class="w-100 " *ngIf="item.PackageDetails.packageItemLevelPriceFlag==1">
            <tbody class="border-0">  
              <tr *ngFor="let pkgItem of item.PackageItems">
                <ng-container *ngIf="pkgItem.pkgItemQty>0">
                  <td class="w-100 f-14"> 
                    <span class="">&#8226;&nbsp; {{pkgItem.pkgItemname}}</span>
                  </td>
                  <td class="text-right f-14">
                    {{pkgItem.pkgItemQty}}
                  </td>
                  <td class="f-14">
                    X&nbsp;$
                  </td>
                  <td class="text-right f-14">
                    {{pkgItem.pkgItemPrice.toFixed(2)}}
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      
      </div>
      <div class="d-flex align-items-center">
        <P *ngIf="item.PackageDetails.packageItemLevelPriceFlag==1" class="custom-font-weight">
          ${{(item.PackageDetails.packageCost).toFixed(2)}}</P>
        <P *ngIf="item.PackageDetails.packageItemLevelPriceFlag!=1" class="custom-font-weight">
          ${{(item.PackageDetails.PkgQty * item.PackageDetails.packageCost).toFixed(2)}}</P>
      </div>
    </div>
    <!-- combo -->
    <div class="custom-order-items-wrapper" *ngFor="let item of comboItems; let i = index;">
      <i class="fa fa-trash mr-2" aria-hidden="true" (click)="deleteCombo(i)"></i>
      <form class="quantity-form w-50px">
        <input class="quantity w-100" disabled autocomplete="off" type="text" name="quantity" min="1"
          [(ngModel)]="item.ComboDetails.comboQty ">
      </form>
      <div class="custom-rate r-0">
        <P class="custom-summer-fonts pl-3 AvenirLTStd-Heavy">{{item.ComboDetails.comboName}}</P>
      </div>
      <div class="d-flex align-items-center">
        <P class="custom-font-weight">${{(item.ComboDetails.comboQty * item.ComboDetails.comboCost).toFixed(2)}}</P>
      </div>
    </div>
    <!-- // combo -->
    <div class="text-center">
      <button type="button" (click)="addMore()" class="custom-items-add">Add
        More Items</button>
    </div>
  </div>
  <div class="custom-inquiry-box custom-add-more custom-payment-align">
    <!-- <div class="custom-total-amount">
      <p class="custom-subtotal-wrapper">Subtotal</p>
      <p class="custom-subtotal-wrapper">${{subTotal.toFixed(2)}}</p>
    </div> -->
    <!-- <div class="custom-taxes">
      <p class="custom-opacity">Taxes + Fees<i class="fa fa-question-circle ml-2" aria-hidden="true"></i></p>
      <p class="custom-opacity">$0.00</p>
    </div>
    <div class="custom-tip">
      <p class="custom-opacity">Tip (0%) <span class="custom-underline-text">Change</span></p>
      <p class="custom-opacity">$0.00</p>
    </div> -->
    <div class="custom-total-price">
      <p class="custom-subtotal-wrapper">Total</p>
      <p class="custom-subtotal-wrapper">${{subTotal.toFixed(2)}}</p>
    </div>
    <div class="d-flex justify-content-center">
      <!-- [disabled]="cartService.cart.menuItems.length==0" -->
      <button type="button" *ngIf="repeatOrderData" (click)="continue()" class="custom-items-add">Continue</button>
    </div>
    <div class="d-flex justify-content-between nav">
      <button type="button" *ngIf="!repeatOrderData" (click)="checkOutGuest()"
        class="custom-items-add mr-2 mt-1">Checkout As
        Guest</button>
      <button type="button" *ngIf="!repeatOrderData" (click)="checkOutUser()" class="custom-items-add mt-1">Checkout As
        User</button>
    </div>
  </div>
</div>