<!-- <div class="main-container-wrapper">
<h1 class="custom-order-details py-2">Order Details</h1>
<section id="contact" class="contact-align-wrapper">
  <div class="content">
    <div id="form">
      <form  [formGroup]="orderDetails" #orderDetailsForm (ngSubmit)="Submit()">
        <div class="open-dialog-wrapper">

          </div>
      <span>Order #</span>
      <input type="text" readonly formControlName="orderNumber">
      <div class="text-danger"  *ngIf="orderDetailsData.orderNumber.touched && orderDetailsData.orderNumber.errors?.required">Order Number is required</div>
      <span>Order Name</span>
      <input type="text" formControlName="orderName">
      <div class="text-danger" *ngIf="orderDetailsData.orderName.touched && orderDetailsData.orderName.errors?.required">OrderName is required</div>
     

      <span>Order Type</span>
      <select class="custom-select col-sm-8" formControlName="orderType" id="draftStatus">
        <option selected value="Delivery">Delivery</option>
        <option value="Pickup">Pickup</option>
      </select>
        <div class="text-danger" *ngIf="orderDetailsData.orderType.touched && orderDetailsData.orderType.errors?.required">OrderType is required</div>


      <span class="">{{orderDetailsData.orderType.value}} date</span>
      <input  [min]="systemdate" readonly  formControlName="date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
      <owl-date-time #dt1 [hour12Timer]="true" ></owl-date-time>
      <div class="text-danger" *ngIf="orderDetailsData.date.touched && orderDetailsData.date.errors?.required">Date&time is required</div>

      <span>Name</span>
      <input type="text" formControlName="name" >
      <div class="text-danger" *ngIf="orderDetailsData.name.touched && orderDetailsData.name.errors?.required">Name is required</div>
      <span>Guest Count</span>
      <input type="number" formControlName="guestCount" >
      <div class="text-danger" *ngIf="orderDetailsData.guestCount.touched && orderDetailsData.guestCount.errors?.required">Guest Count is required</div>
      <span>Phone</span>
      <input   formControlName="phone" >
      <div class="text-danger" *ngIf="orderDetailsData.phone.touched && orderDetailsData.phone.errors?.required">Phone is required</div>
      <div class="text-danger" *ngIf="orderDetailsData.phone.errors?.minlength || orderDetailsData.phone.errors?.maxlength
       ">Phone must be 10 digits</div>
      <span>Email</span>
      <input type="text" formControlName="email" >
     
      <div class="text-danger" *ngIf="orderDetailsData.email.touched && orderDetailsData.email.errors?.required">Email is required</div>
      <div class="text-danger" *ngIf="orderDetailsData.email.errors?.email ">Please Enter a valid email</div>

      <div class="d-flex">
        <span>Address</span>
        <div class="input-group">
          <div class="ng-autocomplete address">
            <ng-autocomplete [data]="addressList"  [searchKeyword]="keyword"
             (selected)="selectChange($event)" [itemTemplate]="itemTemplate">
           </ng-autocomplete>
           <ng-template  #itemTemplate let-item>
             <div>
             <a [innerHTML]="item.street"></a>
             <a [innerHTML]="item.city"></a>
             <a [innerHTML]="item.state"></a>
             <a [innerHTML]="item.zip"></a>
             <hr>
            </div>
           </ng-template>
         </div>
      </div>
    </div>



      <span>Street</span>
      <input type=""  formControlName="street" >
      <div class="text-danger" *ngIf="orderDetailsData.street.touched && orderDetailsData.street.errors?.required">street  is required</div>

      <span>Suite</span>
      <input type=""  formControlName="suite" >

      <span>City</span>
      <input type="" formControlName="city">
      <div class="text-danger" *ngIf="orderDetailsData.city.touched && orderDetailsData.city.errors?.required">city is required</div>

      <span>State</span>
      <select class="custom-select col-sm-8" formControlName="state" id="draftStatus">
        
        <option *ngFor="let item of stateList" [value]="item.id">{{item.name}}</option>
      </select>
      
      <div class="text-danger" *ngIf="orderDetailsData.state.touched && orderDetailsData.state.errors?.required">state is required</div>

      <span>Zip Code</span>
      <input type="number"  formControlName="zipCode" >
      <div class="text-danger" *ngIf="orderDetailsData.zipCode.touched && orderDetailsData.zipCode.errors?.required">zipCode is required</div>

      <span>Notes</span>
      <textarea formControlName="notes" class="form-control" rows="3"></textarea>
    <div class="custom-align-order-screen">
      <input type="button" name="back" value="Back" [routerLink]="['/orders']" routerLinkActive="router-link-active"  class="submit contact-submit">
      <input type="submit" name="submit"   [disabled]="!orderDetails.valid" value="Place Order" class="submit order-details-submit contact-submit">
    </div>
    </form>
    </div>
  </div>
</section>
</div> -->
<div class="common-header py-1">
  <h4>Order Details</h4>
</div>

<div [formGroup]="orderDetails" #orderDetailsForm class="order-details-wrapper">
  <!-- <h4 class="custom-order-details py-2">Order Details</h4> -->
  <div class="wrap">
    <div id="ordernum" class="mt-0">
      <label for="fname">Order #<span style="color: red;">*</span></label>
      <input id="fname" readonly formControlName="orderNumber" type="text" class="cool mt-0" />

    </div>
    <div id="ordernum" class="mt-0">
      <label for="fname">Order Name<span style="color: red;">*</span></label>
      <input id="fname" formControlName="orderName" type="text" class="cool mt-0" />
      <div class="text-danger"
        *ngIf="orderDetailsData.orderName.touched && orderDetailsData.orderName.errors?.required">OrderName is required
      </div>

    </div>

    <select class="" (change)="onOrderTypeChange()" formControlName="orderType" id="draftStatus" class="w-100">
      <option value="Delivery">Delivery</option>
      <option value="Pickup">Pickup</option>
    </select>
    <div>
      <label *ngIf="orderDetails.value.orderType=='Delivery'" for="lname">Delivery Start Date<span
          style="color: red;">*</span></label>
      <label *ngIf="orderDetails.value.orderType=='Pickup'" for="lname">Pickup Start Date<span
          style="color: red;">*</span></label>
      <input id="lname" type="text" [min]="systemdate" readonly formControlName="date" [owlDateTime]="dt1"  (dateTimeChange)="getDefaultDeliveryEndTime()"
        [owlDateTimeTrigger]="dt1" placeholder="Date Time" class="cool" />
      <owl-date-time #dt1 [hour12Timer]="true"></owl-date-time>
      <div class="text-danger" *ngIf="orderDetailsData.date.touched && orderDetailsData.date.errors?.required">Date is
        required</div>
    </div>
    <div>
      <label *ngIf="orderDetails.value.orderType=='Delivery'" for="lname">Delivery End Date</label>
      <label *ngIf="orderDetails.value.orderType=='Pickup'" for="lname">Pickup End Date</label>
      <input id="lname" type="text" [min]="systemdate"  formControlName="orderEndDate" [owlDateTime]="dt2"
        [owlDateTimeTrigger]="dt2" placeholder="Date Time" class="cool" />
      <owl-date-time #dt2 [hour12Timer]="true"></owl-date-time>
      <div class="text-danger"
        *ngIf="orderDetailsData.orderEndDate.touched && orderDetailsData.orderEndDate.errors?.required">Date is
        required</div>
    </div>
    <div>
      <label for="lname">Event Start Date</label>
      <input id="lname" type="text" [min]="systemdate"  formControlName="eventStartDate" [owlDateTime]="dt3"
        [owlDateTimeTrigger]="dt3" placeholder="Date Time" class="cool" />
      <owl-date-time #dt3 [hour12Timer]="true"></owl-date-time>
      <div class="text-danger"
        *ngIf="orderDetailsData.eventStartDate.touched && orderDetailsData.eventStartDate.errors?.required">Date is
        required</div>
    </div>
    <div>
      <label for="lname">Event End Date</label>
      <input id="lname" type="text" [min]="systemdate"  formControlName="eventEndDate" [owlDateTime]="dt4"
        [owlDateTimeTrigger]="dt4" placeholder="Date Time" class="cool" />
      <owl-date-time #dt4 [hour12Timer]="true"></owl-date-time>
      <div class="text-danger"
        *ngIf="orderDetailsData.eventEndDate.touched && orderDetailsData.eventEndDate.errors?.required">Date is
        required</div>
    </div>
    <div>
      <label for="lname">Name<span style="color: red;">*</span></label>
      <input formControlName="name" id="lname" type="text" class="cool" />
      <div class="text-danger" *ngIf="orderDetailsData.name.touched && orderDetailsData.name.errors?.required">Name is
        required</div>
    </div>

    <div>
      <label for="guestCount">Guest Count</label>
      <input id="guestCount" formControlName="guestCount" type="text" class="cool" />
    </div>

    <div *ngIf="authService.isuserLoggedin()">
      <label for="Billing">Billing Code</label>
      <input id="Billing" formControlName="billingCode" type="text" class="cool" />
    </div>
    <div *ngIf="authService.isuserLoggedin()">
      <div class="d-flex">
        <label for="discountCode">Discount Code</label>
        <input id="discountCode" formControlName="discountCode" type="text" class="cool discount-input mr-2" />
        <button type="button" *ngIf="!discountFlag" (click)="validateDiscountCode()"
          class="btn btn-custom ">Apply</button>
        <button type="button" *ngIf="discountFlag" (click)="removeDiscountCode($event)" class="btn btn-custom "><i
            class="fa fa-times" aria-hidden="true"></i></button>
      </div>
      <div class="text-danger" style="font-size: 13px;"
        *ngIf="discountFlagPercent&&(discountresponse?.discountPercentage==0&&discountresponse?.discountFlatAmount==0)">
        Discount Code is not
        valid</div>
      <div class="text-success" style="font-size: 13px;"
        *ngIf="discountFlagPercent&&discountresponse?.discountPercentage>0">
        {{discountresponse.discountPercentage}}% discount will be applied on your Total Amount
      </div>
      <!-- <div class="text-danger" style="font-size: 13px;" *ngIf="discountFlagFlat&&discountresponse?.discountFlatAmount==0">Flat Code is not
        valid</div> -->
      <div class="text-success" style="font-size: 13px;"
        *ngIf="discountFlagPercent&&discountresponse?.discountFlatAmount>0">
        ${{discountresponse.discountFlatAmount}} flat discount will be applied on your Total Amount
      </div>
    </div>
    <div>
      <label for="phone">Phone<span style="color: red;">*</span></label>
      <input id="phone" (keypress)="allowDigits($event)" formControlName="phone" maxlength="10" type="text"
        class="cool" />
      <div class="text-danger" *ngIf="orderDetailsData.phone.touched && orderDetailsData.phone.errors?.required">Phone
        is required</div>
      <div class="text-danger" *ngIf="orderDetailsData.phone.errors?.minlength || orderDetailsData.phone.errors?.maxlength
       ">Phone must be 10 digits</div>
    </div>
    <div>
      <label for="email">Email<span style="color: red;">*</span></label>
      <input id="email" formControlName="email" type="text" class="cool" />
      <div class="text-danger" *ngIf="orderDetailsData.email.touched && orderDetailsData.email.errors?.required">Email
        is required</div>
      <div class="text-danger" *ngIf="orderDetailsData.email.errors?.email ">Please Enter a valid email</div>

    </div>
    <div>
      <label for="email">Address<span style="color: red;">*</span></label>
      <!-- <input id="email" type="text" class="cool" /> -->
      <div class="ng-autocomplete cool">
        <ng-autocomplete [data]="addressList" [searchKeyword]="keyword" formControlName="address"
          (selected)="selectChange($event)" [itemTemplate]="itemTemplate">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <div>
            <a [innerHTML]="item.street"></a>
            <a [innerHTML]="item.city"></a>
            <a [innerHTML]="item.state"></a>
            <a [innerHTML]="item.zip"></a>
            <hr>
          </div>
        </ng-template>
      </div>
    </div>
    <div>
      <label for="street">Street<span style="color: red;">*</span></label>
      <input id="street" formControlName="street" type="text" class="cool" />
      <div class="text-danger" *ngIf="orderDetailsData.street.touched && orderDetailsData.street.errors?.required">
        Street is required</div>
    </div>
    <div>
      <label for="suite">Suite</label>
      <input id="suite" formControlName="suite" type="text" class="cool" />
    </div>
    <div>
      <label for="city">City<span style="color: red;">*</span></label>
      <input id="city" formControlName="city" type="text" class="cool" />
      <div class="text-danger" *ngIf="orderDetailsData.city.touched && orderDetailsData.city.errors?.required">City is
        required</div>

    </div>
    <div>
      <label>State<span style="color: red;">*</span></label>
      <select style="padding: 8px; height: 39px;" class="" formControlName="state" id="draftStatus" class="w-100">
        <option selected value="" style="padding:10px"> --Select-- </option>
        <option *ngFor="let item of stateList" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
    <div>
      <label for="zipCode">Zip Code<span style="color: red;">*</span></label>
      <input id="zipCode" formControlName="zipCode" type="text" class="cool" />
      <div class="text-danger" *ngIf="orderDetailsData.zipCode.touched && orderDetailsData.zipCode.errors?.required">
        ZIP Code is required</div>
    </div>
    <div>
      <label for="notes">Notes</label>
      <!-- <input  /> -->
      <textarea id="notes" formControlName="notes" class="cool" rows="4" cols="50"></textarea>
    </div>
    <!-- <div class="custom-align-order-screen ml-n5">
      
      <input type="button" name="back" value="Back" [routerLink]="['/orders']" routerLinkActive="router-link-active"
        class="submit contact-submit">
      <input type="submit" name="submit" (click)="Submit()" [disabled]="!orderDetails.valid" value="Place Order"
        class="submit order-details-submit contact-submit">
    </div> -->
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-custom mx-2" [routerLink]="['/orders']">Back</button>
      <button type="button" (click)="validateItemAvailability()" [disabled]="!orderDetails.valid"
        class="btn btn-custom">Place Order</button>

    </div>
  </div>
</div>


<!-- validate-items Modal -->
<div class="validate-items">
  <div class="modal fade" id="validateItemsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between py-1">
          <div></div>
          <span style="font-size: 20px; margin-left: 39%;" id="exampleModalLongTitle mb-0 text m-0">Unavailable
            Items</span>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body px-1">
          <!-- <div class="">
            <div class="mr-1 pl-2 form-check d-flex justify-content-between " *ngFor="let item of cartService.cart.menuItems; let i=index ">
              <span *ngIf="!this.resultarray.includes(item.itemId)">
                <p class="m-0 ">{{item.itemName}} </p>
              </span>
              <div class="teardrop" *ngIf="!this.resultarray.includes(item.itemId)">
                <span class="firsttext">{{item.quantity}}</span>
              </div>
            </div>
          </div>
          <div class="">
            <div class="mr-1 pl-2 form-check d-flex justify-content-between"
              *ngFor="let item of cartService.cart.combo">
              <span *ngIf="!this.resultarray.includes(item.ComboDetails.EcateringItemId)">
                <span class="m-0 pl-2">{{item.ComboDetails.comboName}} </span>
              </span>

              <div class="teardrop" *ngIf="!this.resultarray.includes(item.ComboDetails.EcateringItemId)">
                <span class="firsttext">{{item.ComboDetails.comboQty}}</span>
              </div>
            </div>
          </div>
          <div class="">
            <div class="mr-1 pl-2 form-check d-flex justify-content-between"
              *ngFor="let item of cartService.cart.package">
              <span *ngIf="!this.resultarray.includes(item.PackageDetails.EcateringItemId)">
                <p class="m-0">{{item.PackageDetails.packageName}} </p>

              </span>

              <div class="teardrop" *ngIf="!this.resultarray.includes(item.PackageDetails.EcateringItemId)">
                <span class="firsttext">{{item.PackageDetails.PkgQty}}</span>
              </div>

            </div>
          </div> -->
          <div class="">
            <div class="mr-1 pl-2 form-check d-flex justify-content-between "
              *ngFor="let item of notAvailableArray; let i=index " [ngClass]="i%2==0?'bg-alternate':''">
              <span>
                <p class="m-0 ">{{item.name}} </p>
              </span>
              <div class="teardrop">
                <span class="firsttext">{{item.qty}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer p-1 d-flex justify-content-center">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <button type="button" (click)="deleteandproceed()" class="btn btn-primary">Delete & Proceed</button>
        </div>
      </div>
    </div>
  </div>
</div> 












<style>
  option>span {
    color: red;
  }

  h1 {
    font-size: 60px;
    margin: 0px;
    padding: 0px;
  }

  h3 {
    margin: 0px;
    padding: 0px;
    color: #999;
  }

  div.wrap {
    width: 425px;
    position: absolute;
    top: 25%;
    left: 34%;
    padding: 20px;
    box-shadow: 2px 2px 10px #c1c1c1;
    background-color: #fff;
  }

  div.wrap div {
    position: relative;
    margin: 20px 0;
  }

  label {
    position: absolute;
    top: -15px;
    font-size: 14px;
    margin: 5px;
    padding: 0 2px;
    background-color: #fff;
    -webkit-transition: top .2s ease-in-out,
      font-size .2s ease-in-out;
    transition: top .2s ease-in-out,
      font-size .2s ease-in-out;
    z-index: 99;
  }

  /* .active {
    top: -15px;
    font-size: 12px;
    padding: 2px;
  } */

  input[type=text] {
    width: 100%;
    padding: 8px;
    border: 1px solid #262262;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    color: 000;
  }

  input[type=text]:focus {
    outline: none;
  }

  input[type=text-area] {
    width: 100%;
    padding: 5px;
    border: 1px solid #262262;
    border-radius: 5px;
    font-size: 15px;
    background-color: #fff;
    color: 000;
    height: 80px;
  }

  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #262262;
    border-radius: 5px;
    font-size: 15px;
    background-color: #fff;
    color: 000;
    height: 80px;
  }

  input[type=text-area]:focus {
    outline: none;
  }

  .order-details-wrapper select {
    height: 35px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #10153f;
    outline: none;
  }

  .autocomplete-container .input-container input {
    width: 100%;
    padding: 5px !important;
    border: 1px solid #262262 !important;
    border-radius: 5px !important;
    font-size: 14px;
    background-color: #fff !important;
    color: 000;
  }

  .autocomplete-container.active {
    z-index: 99 !important;
    background-color: #fff;
  }

  .ng-autocomplete {
    width: 100% !important;
    background-color: #fff;
  }

  .discount-input {
    width: 155% !important;
  }
</style>