<div class="combo-wrapper">
    <div class="">
        <div class="modal-content">
            <div class="modal-header m-0 text-white d-flex justify-content-between align-items-center ">
                <div> &nbsp; </div>
                <h5 class="modal-title m-auto">Breakfast Bar</h5>
                <i class="fas fa-times pr-2" style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <div class="modal-body-second">
                    <p class="px-3 py-4 text-white">
                        Test
                    </p>
                </div>
                <div class="modal-body-wrapper">
                    <div class="modal-footer border-0 d-flex justify-content-end p-0 amount-details">
                        <div class="price d-flex">
                            <div class="mx-3">
                                <strong>Price:</strong> 24.95
                            </div>
                        </div>
                        <div class="mx-3">
                            <strong>Amount:</strong> 24.95
                        </div>
                        <div class="">
                            <i class="fa fa-minus mx-2" aria-hidden="true"></i>
                            <span style="color: #fff; font-size: 18px;"> <b></b> </span>
                            <i class="fa fa-plus mx-2" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="mt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <select   id="draftStatus" class="w-50 form-control">
                                    <option value="Delivery">Chutney</option>
                                    <option value="Pickup">Sambar</option>
                                </select>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center p-0" style="background: #c5c5c5;">
                <div class="buttons d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mx-3 pop-save" data-dismiss="modal"
                        style="">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>