<!-- <div class="my-2 d-flex">
    <label class="m-0 w-200">Interface <span class="text-danger">*</span></label>
    <div class="input-group input-section w-75 ml-auto">
        <input type="text" class="form-control">
        <div class=" right-icon">
        </div>
    </div>
</div> -->

<!-- <div class="payment-details-wrapper">
    <form class="">
        <div class="form-group d-flex">
          <label for="staticEmail" class="col-md-2 col-form-label">Email</label>        
          <input type="text" class="form-control-plaintext col-md-5" id="staticEmail" value="email@example.com">
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-md-2 col-form-label">Password</label>
            <input type="password" class="form-control col-md-5" id="inputPassword" placeholder="Password">
        </div>
      </form>
</div> -->


<!-- <div class="main-container-wrapper">
    <h1 class="custom-order-details py-2">Payment Details</h1>
    <section id="" class="contact-align-wrapper content-payment-wrapper">
        <div class="content-payment">
            <div id="form">
                <form [formGroup]="paymentForm">
                    <div class="d-flex">
                        <span class="col-md-6">Customer</span>
                        <div>
                            <input type="text" class="test" formControlName="customerName" placeholder="Customer Name">
                        </div>
                    </div>

                    <div class="d-flex">
                        <span class="col-md-6">Order #</span>
                        <div> <input type="text" readonly class="test" formControlName="orderNumber"
                                placeholder="Ex:45256">
                        </div>
                    </div>
                    <div class="d-flex">
                        <span class="col-md-6">Payment Reason</span>
                        <select style="background-color: #d8d8d8;
                        height: 36px;
                        margin-bottom: 5px;
                        border-radius: 5px;" name="" id="" class="form-control border-0 outline-0 box-shadow test">
                            <option value="">Payment Reason</option>
                            <option value="">Credit card</option>
                        </select>
                    </div>
                    <div class="d-flex">
                        <span class="col-md-6">Credit Card Type</span>
                        <div>
                            <select (change)="credirCardChange()" style="background-color: #d8d8d8;
                        height: 36px;
                        margin-bottom: 5px;
                        border-radius: 5px;" formControlName="creditCardTypeId" name="" id=""
                                class="form-control border-0 outline-0 box-shadow test">
                                <option [value]='null'> --select--</option>
                                <option *ngFor="let card of creditCardTypes" [value]="card.creditCardTypeId">
                                    {{card.creditCardTypeName}}</option>
                            </select>
                            <div class="text-danger text-left px-2 pt-2"
                            *ngIf="formcontrol.creditCardTypeId.errors?.required&&formError ">
                            CreditCard type Required</div>
                         </div>
                    </div>
                    <div class="d-flex">
                        <span class="col-md-6">Credit Card Number (last 4 digits)</span>
                        <div>
                            <input formControlName="creditCardNumber" maxlength="4" type="text" class="test">
                            <div class="text-danger text-left px-2 pt-2"
                            *ngIf="formcontrol.creditCardNumber.errors?.required&&formError ">
                            CreditCard Number Required</div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <span class="col-md-6">Credit Card Fee Percentage
                        </span>
                        <div>
                            <input readonly formControlName="creditCardFeePercentage" type="text" class="test">                          
                        </div>
                    </div>
                    <div class="d-flex">
                        <span class="col-md-6">Card Holder Name</span>
                        <div>
                            <input formControlName="cardHolderName" type="text" class="test">
                            <div class="text-danger text-left px-2 pt-2"
                                *ngIf="formcontrol.cardHolderName.errors?.required &&formError">
                                CardholderName Required</div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <span class="col-md-6">Email</span>
                        <div>
                            <input formControlName="email" type="text" class="test">
                            <div class="text-danger text-left px-2 pt-2" *ngIf="formcontrol.email.errors?.email ">Please
                                Enter a valid email
                            </div>
                            <div class="text-danger text-left px-2 pt-2" *ngIf="formcontrol.email.errors?.required &&formError">
                                Email Required</div>
                        </div>
                    </div>

                    <div class="d-flex">
                        <span class="col-md-6">Credit Card Payment Amount </span>
                        <div>
                        <input formControlName="creditCardPaymentAmount" (change)="credirCardChange()" type="number"
                            class="test">
                        </div>
                    </div>
                    <div class="d-flex">
                        <span class="col-md-6">Credit Card Fee Amount</span>
                        <input readonly formControlName="creditCardFeeAmount" type="text" class="test">
                    </div>
                    <div class="d-flex">
                        <span class="col-md-6">Total Amount</span>
                        <input readonly readonly formControlName='totalAmount' type="text" class="test">
                    </div>
                    <div class="d-flex">
                        <span class="col-md-6">Comments</span>
                        <textarea formControlName="comments" class="input"></textarea>
                    </div>

                </form>
                <div class="d-flex justify-content-center mt-2">
                    <button type="button" class="btn btn-danger mx-3">Cancel</button>
                    <button type="button" class="btn btn-primary mx-3 px-4"
                        style="background-color: #262262; border-color:#262262;"
                        (click)="saveOrderPayment()">Pay</button>
                </div>
            </div>
        </div>
    </section>
</div>  -->

<div class="common-header py-1">
    <h4>Payment Details</h4>
</div>

<form id="APSWS" style="margin-left: 5%;" name="APSWS" method="post" target="_top">
    <input type="hidden" name="commentsAPS" id="commentsAPS" [value]="paymentForm.value.comments" />
    <input type="hidden" name="amountAPS" id="amountAPS" [value]="paymentForm.value.totalAmount" />
    <!-- Total Amount in Place Order screen -->
    <input type="hidden" name="processPaymentFlag" id="processPaymentFlag" [value]="1" />
    <input type="hidden" name="postingDateAPS" id="postingDateAPS" [value]="sysDate" />
    <input type="hidden" name="paymentIdAPS" id="paymentIdAPS" [value]="paymentId" />
    <!-- -- get it in 'Save Order Payment -->
    <!-- details' api response -->
    <input type="hidden" name="backUrl" id="backUrl" [value]="backUrl" escapeXml="true" />
    <!-- -- get it in 'Save Order  Payment details' api response -->
    <input type="hidden" name="catererId" id="catererId" [value]="catererId"> <input type="hidden" name="sessionId"
        id="sessionId" [value]="loginResponse.AuthenticateUser.sessionId">
    <input type="hidden" name="userid" id="userid" [value]="loginResponse.AuthenticateUser.userId">
    <input type="hidden" name="isSuperadmin" id="isSuperadmin" value="0">
    <input type="hidden" name="eventId" id="eventId" [value]="paymentForm.value.orderNumber" />
    <!-- Order# from Order
    Details screen -->
    <input type="hidden" name="customer" id="customer" [value]="paymentForm.value.customerName" escapeXml="true" />
    <!-- Name from Order Details screen -->
    <input type="hidden" name="customerEmail" id="customerEmail" [value]="paymentForm.value.email" escapeXml="true" />
    <!-- Email from Order Details screen -->
    <input type="hidden" name="eventName" id="eventName" [value]="orderDetails.orderName" escapeXml="true" />
    <!-- Name from Order Details screen -->
    <input type="hidden" name="eventDate" id="eventDate" [value]="orderDetails.date" escapeXml="true" />
    <!-- Date    from Order Details screen -->
    <input type="hidden" name="invoiceNumber" id="invoiceNumber" [value]="paymentForm.value.orderNumber"
        escapeXml="true" />
    <!-- -- Order# from Order Details screen -->
</form>

<div>
    <!-- <h4 class="custom-order-details py-2">Payment Details</h4> -->
    <div [formGroup]="paymentForm" class="wrap">



        <div id="customer" class="mt-0">
            <label for="Customer">Customer</label>
            <input formControlName="customerName" id="Customer" type="text" class="cool mt-0" />
        </div>
        <div id="order" class="mt-0">
            <label for="Order">Order #</label>
            <input id="Order" formControlName="orderNumber" readonly type="text" class="cool mt-0" />

        </div>

        <select class="" id="draftStatus" class="w-100">
            <option value="">Payment Reason</option>
            <option value="">Credit card</option>
        </select>
        <div>
            <select formControlName="creditCardTypeId" (change)="credirCardChange()" class="" id="card" class="w-100">
                <option [value]='null'> --select--</option>
                <option *ngFor="let card of creditCardTypes" [value]="card.creditCardTypeId">
                    {{card.creditCardTypeName}}</option>
            </select>
            <div class="text-danger text-left px-2 pt-2"
                *ngIf="formcontrol.creditCardTypeId.errors?.required&&formError ">
                CreditCard type Required</div>
        </div>
        <div>
            <label for="creditCardN">Credit Card Number(last 4 digits)</label>
            <input id="creditCardN" formControlName="creditCardNumber" maxlength="4" type="text" class="cool" />
            <div class="text-danger text-left px-2 pt-2"
                *ngIf="formcontrol.creditCardNumber.errors?.required&&formError ">
                CreditCard Number Required</div>
        </div>

        <div>
            <label for="phone">Credit Card Fee Percentage</label>
            <input id="phone" readonly formControlName="creditCardFeePercentage" type="text" class="cool" />

        </div>
        <div>
            <label for="email">Card Holder Name</label>
            <input id="email" formControlName="cardHolderName" type="text" class="cool" />
            <div class="text-danger text-left px-2 pt-2"
                *ngIf="formcontrol.cardHolderName.errors?.required &&formError">
                CardholderName Required</div>


        </div>
        <div>
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="text" class="cool" />
            <div class="text-danger text-left px-2 pt-2" *ngIf="formcontrol.email.errors?.email ">Please
                Enter a valid email
            </div>
            <div class="text-danger text-left px-2 pt-2" *ngIf="formcontrol.email.errors?.required &&formError">
                Email Required</div>
        </div>
        <div>
            <label for="street">Credit Card Payment Amount</label>
            <input id="street" formControlName="creditCardPaymentAmount" (change)="credirCardChange()"  type="number" class="cool" />

            <div>
                <label for="suite">Credit Card Fee Amount</label>
                <input id="suite" readonly formControlName="creditCardFeeAmount" type="text" class="cool" />
            </div>
            <div>
                <label for="city">Total Amount</label>
                <input id="city" readonly formControlName='totalAmount'  type="text" class="cool" />

            </div>
            <div>
                <label for="notes">Comments</label>
                <input id="notes"readonly formControlName="comments"  type="text-area" class="cool" />
            </div>
            <div class="custom-align-order-screen">
                <input type="button" name="back" value="Cancel" class=" btn btn-custom mr-3">
                <input type="submit" name="submit" (click)="saveOrderPayment()" value="Pay" class="btn btn-custom">
            </div>
        </div>
    </div>

    <style>
        h1 {
            font-size: 60px;
            margin: 0px;
            padding: 0px;
        }

        h3 {
            margin: 0px;
            padding: 0px;
            color: #999;
        }

        div.wrap {
            width: 425px;
            position: absolute;
            top: 25%;
            left: 34%;
            padding: 20px;
            box-shadow: 2px 2px 10px #c1c1c1;
            background: #fff;
        }

        div.wrap div {
            position: relative;
            margin: 20px 0;
        }

        label {
            position: absolute;
            top: -15px;
            font-size: 14px;
            margin: 5px;
            padding: 0 2px;
            background-color: #fff;
            -webkit-transition: top .2s ease-in-out,
                font-size .2s ease-in-out;
            transition: top .2s ease-in-out,
                font-size .2s ease-in-out;
        }

        /* .active {
      top: -15px;
      font-size: 12px;
      padding: 2px;
    } */


        input[type=text] {
            width: 100%;
            padding: 8px;
            border: 1px solid #262262;
            border-radius: 5px;
            font-size: 14px;
            background-color: #fff;
            color: 000;
        }
        input[type=number] {
            width: 100%;
            padding: 8px;
            border: 1px solid #262262;
            border-radius: 5px;
            font-size: 14px;
            background-color: #fff;
            color: 000;
        }
        input[type=number]:focus {
            outline: none;
        }
        input[type=text]:focus {
            outline: none;
        }

        input[type=text-area] {
            width: 100%;
            padding: 5px;
            border: 1px solid #262262;
            border-radius: 5px;
            font-size: 15px;
            background-color: #fff;
            color: 000;
            height: 80px;
        }
        

        input[type=text-area]:focus {
            outline: none;
        }

        .order-details-wrapper select {
            height: 35px;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #10153f;
            outline: none;
        }

        select {
            height: 32px;
            border-radius: 5px;
            background-color: #fff;
            outline: 0;
            border: 1px solid #10153f;
        }
    </style>