/* global variables */
// :root {
//   --buttonColor:'#10153f !important';
//   --applicationHeaderColor:'gainsboro';
//   --sectionHeaderColor:'#10153f';
// }
.pointer {
  cursor: pointer;
}
.w-90 {
  width: 90%;
}
/* Font Styles Files Uploading */
@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("assets/fonts/AvenirLTStd-Black.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-BlackOblique";
  src: url("assets/fonts/AvenirLTStd-BlackOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-BookOblique";
  src: url("assets/fonts/AvenirLTStd-BookOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Book";
  src: url("assets/fonts/AvenirLTStd-Book.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("assets/fonts/AvenirLTStd-Heavy.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Light";
  src: url("assets/fonts/AvenirLTStd-Light.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-HeavyOblique";
  src: url("assets/fonts/AvenirLTStd-HeavyOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-LightOblique";
  src: url("assets/fonts/AvenirLTStd-LightOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url("assets/fonts/AvenirLTStd-Medium.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-MediumOblique";
  src: url("assets/fonts/AvenirLTStd-MediumOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Oblique";
  src: url("assets/fonts/AvenirLTStd-Oblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url("assets/fonts/AvenirLTStd-Roman.otf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("assets/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

.AvenirLTStd-BlackOblique {
  font-family: "AvenirLTStd-BlackOblique", sans-serif !important;
}

.AvenirLTStd-BookOblique {
  font-family: "AvenirLTStd-BookOblique", sans-serif !important;
}

.AvenirLTStd-Book {
  font-family: "AvenirLTStd-Book", sans-serif !important;
}

.AvenirLTStd-Heavy {
  font-family: "AvenirLTStd-Heavy", sans-serif !important;
}

.AvenirLTStd-Light {
  font-family: "AvenirLTStd-Light", sans-serif !important;
}

.AvenirLTStd-HeavyOblique {
  font-family: "AvenirLTStd-HeavyOblique", sans-serif !important;
}

.AvenirLTStd-LightOblique {
  font-family: "AvenirLTStd-LightOblique", sans-serif !important;
}

.AvenirLTStd-Medium {
  font-family: "AvenirLTStd-Medium", sans-serif !important;
}

.AvenirLTStd-Oblique {
  font-family: "AvenirLTStd-Oblique", sans-serif !important;
}

.AvenirLTStd-Roman {
  font-family: "AvenirLTStd-Roman", sans-serif !important;
}

.Montserrat-Bold {
  font-family: "Montserrat-Bold" !important;
}
.Montserrat-Bold {
  font-family: "Montserrat-Regular" !important;
}

.order-details-wrapper .autocomplete-container .input-container input {
  width: 100%;
  padding: 5px !important;
  border: 1px solid #262262 !important;
  border-radius: 5px !important;
  font-size: 14px;
  background-color: #fff !important;
  color: 000;
}

.f-14 {
  font-size: 14px;
}

.modal-combo {
  &.modal-dialog {
    max-width: 800px;
  }

  .modal {
    margin: 0 auto;
  }
  .modal-dialog {
    max-width: 850px;
  }

  .acc-title {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #636363;
    color: #f1f3f5;
    border-radius: 5px;
    h5 {
      font-size: 19px !important;
      p {
        font-size: 13px !important;
      }
    }
  }

  .acc-body {
    background-color: #e2e2e2;
    padding: 10px;
    margin-top: -10px;
  }

  .modal-footer {
    i {
      padding: 5px 6px 11px 6px;
      border-radius: 52%;
      background-color: #f08b2d;
      color: #fff;
      cursor: pointer;
      height: 25px;
      width: 25px;
    }
    input {
      width: 85%;
      outline: none;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #eeeeee;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      height: 34px;
      padding-left: 10px;
    }
  }
  .modal-header {
    background-color: var(--sectionHeaderColor);
    padding: 7px !important;
  }
  .form-check {
    input {
      height: 16px;
      width: 16px;
    }
  }
}

.modal-body-first {
  i {
    padding: 10px;
    border-radius: 50%;
    background-color: #eeeeee;
    height: 33px;
    cursor: pointer;
  }
}

.modal-body-wrapper {
  max-height: calc(100vh - 46vh);
  overflow: auto;
  padding: 2px 5px;
}

.item-icons {
  i {
    padding: 5px;
    border-radius: 50%;
    background-color: #f08b2d;
    color: #fff;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
  }
}

i.transform {
  transform: rotate(180deg);
}

.acc-icon {
  border-radius: 50%;
  background-color: #f08b2d;
  color: #fff;
  height: 22px;
  font-size: 14px;
  cursor: pointer;
  width: 23px;
  margin-top: -1px;
  padding: 5px 5px 5px 7px;
}

.modal-body-second {
  // background: url("assets/images/cater/large-sample.jpg");
  // background-size: cover;
  // background-position: center;
  background-color: #00000054;
  background-blend-mode: overlay;
  height: 143px;
}
.combo-wrapper {
  .modal-body {
    padding: 0;
  }
  .title-wrapper {
    background-color: #636363;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .package-wrapper {
    height: 54vh;
  }
}

.teardrop {
  background-color: var(--sectionHeaderColor);
  display: block;
  width: 35px;
  height: 21px;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  border-bottom-left-radius: 90px;
  position: relative;
  box-shadow: 1px 2px 2px grey;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 1px;
}

.teardrop span.firsttext {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.title-condition-wrap {
  color: #f1f1f1;
}
.bg-alternate {
  background: #ccc;
}
.btn-custom {
  width: 120px;
  background: var(--buttonColor);
  border: var(--buttonColor);
  color: #fff;
}
.btn-custom:hover {
  color: #fff;
}
.validate-items {
  .modal-header {
    background: var(--sectionHeaderColor);
    color: #fff;
  }
  .modal-dialog {
    max-width: 780px;
  }
  .btn-primary {
    background: var(--buttonColor);
    color: #fff;
    border-color: var(--buttonColor);
    border: 0;
  }
}

.common-header {
  position: relative;
  top: 97px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 22px;
  background: var(--sectionHeaderColor);
  color: #fff;
  width: 100%;
  h4 {
    font-size: 22px;
    margin: 0;
  }
}
.validate-items {
  .modal-header {
    display: flex !important;
    justify-content: space-between !important;
  }
}

.instruction-font {
  font-family: "AvenirLTSTD-Roman", sans-serif !important;
  font-style: italic;
}

.swal2-confirm {
  width: 120px;
  background: var(--buttonColor) !important;
  border: var(--buttonColor) !important;
  color: #fff;
}
div#validateItemsModal {
  background: #0006;
}
.ng-trigger-fadeIn {
  z-index: 99999999 !important;
}

.instruction-font {
  font-family: "AvenirLTSTD-Roman", sans-serif !important;
  font-style: italic;
}

.availability-modal {
  padding-bottom: 20px;
  padding: 10px;
  .bg-gre {
    background-color: var(--sectionHeaderColor);
    color: #fff;
  }
  .modal-header {
    // height: 40px;
    background-color: #ccc;
    h5 {
      font-size: 20px;
      margin: 0;
      padding: 0;
    }
    // padding: 10px;
  }
  p {
    background-color: #8f8f8f;
    padding: 10px;
    text-align: left;
    box-shadow: 2px 2px 10px #ccc;
    color: rgb(2, 2, 2);
    border-radius: 5px;
  }
}
.amount-details {
  background-color: var(--sectionHeaderColor);
  color: #fff;
}
.type-image {
  height: 21px;
  width: 23px;
  margin-right: 4px;
}
.bottom-items {
  margin-top: 15px;
}
.pop-save {
  background-color: var(--buttonColor);
  padding: 1px 7px;
  border: 0px;
  font-size: 14px;
}
.pop-save {
  &:hover {
    background-color: var(--buttonColor);
  }
}

.avaibility-items {
  i {
    color: var(--sectionHeaderColor);
  }
}
.f-14 {
  font-size: 14px;
}

.filters {
  display: none;
  &.show {
    display: block;
    background: #fff;
    border-radius: 3px;
    padding: 10px 15px;
    margin-top: 5px;
    position: absolute;
    z-index: 999;
    right: 8px;
    box-shadow: 2px 2px 10px #484848;
    width: 48%;
  }
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 179px;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0px;
    border-top: solid 11px #fff;
    border-left: solid 11px transparent;
    border-right: solid 11px transparent;
    transform: rotate(180deg);
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  .form-group label {
    position: relative;
    cursor: pointer;
  }

  .form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--sectionHeaderColor);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
  }

  .form-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid var(--sectionHeaderColor);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.home {
  &.filters{
    &.show {
      display: block;
      background: #fff;
      border-radius: 3px;
      padding: 10px 15px;
      margin-top: 5px;
      position: absolute;
      z-index: 999;
      right: 197px;
      box-shadow: 2px 2px 10px #484848;
      width: 23%;
      top: 37px;
    }
  }
}

.filter-modal {
  .modal-dialog {
    max-width: 380px;
  }
}

.home-filter-modal {
  .modal-dialog {
    margin-top: 130px;
    margin-left: 40%;
    max-width: 380px;
  }
}

.btn-primary{
&:active{
  background: var(--buttonColor) !important;
  border: var(--buttonColor) !important ;
}
}

.color-primary{
  color: #028351;
}
.review-orders-dialog{
  .modal-content{
    max-height: Calc(100vh - 56px);
  }
}
.bottom-0-sticky{
  position: sticky;
    bottom: 0;
    background: white;
}
.w-49{
  width: 49px !important;
}
.combo-img{
  position: absolute;
  width: 100%;
  object-fit: fill;
}