// Color Variables
$white: #ffffff;
$black: #000;
$blue:#145194;
$red:#ff0000;
$text-grey:#6f8ba4;
$green:#0ea600;
$bg-clr:#f9f9f9;
$blue-dark:#3b566e;
$table-green:#f7fafc;
$heading-bg:#343a40;
$button-background-color: #e4f2d9;
// #3b566e

// Border Colors Variables#e0e3e4

// Meadia Variables
$screen-lg: 1200px;
$screen-md: 991px;
$screen-sm: 767px;
$screen-xs: 580px;
$screen-xxs: 365px;
$scree-size-xs:420px;


// Color Variables
$white: #ffffff;
$black: #000;
$red:#ff0000;
$text-grey:#6f8ba4;
$green:#0ea600;
$bg-clr:#f9f9f9;
$blue-dark:#3b566e;
// #3b566e
$button:#76bd43;
$bottom-text:#145194cc;
$login-text:#cbcbcb;
$setting-icon:rgba(80, 80, 80, 0.8);
$button-background-color: #e4f2d9;
$test-button:#00adf0;
$box-Discrepancy:#a1f863;
$Invalid-Caller-ID:#ff7979;
$table-body:#f7fafc;
$text:#808080;
$red:#ff0000;
$button-bg-color:#e0e3e4;
$btn-light:#e4f2d9;
$black-heading:#050505;
$strip-color:#f1f1f1;
$color-green:#008000;
$color-textdropdown:#dddddd;
// Border Colors Variables#e0e3e4

// Meadia Variables
$screen-lg: 1200px;
$screen-md: 991px;
$screen-sm: 767px;
$screen-xs: 580px;
$screen-xxs: 365px;
$scree-size-xs:420px;




$toggle : #C8C7C0;
$toggle-contrast : #fff;

// Network List Colors
$network-list-background : #95a5a6;
$network-list-background-hover : #bdc3c7;
$network-list-icon-color : #fff;

// Network Colors
$twitter: #00C3F3;
$facebook: #2C609B;
$googleplus: #EC3F25;

$h-root: 180; // try changing this :) [0-360]
$c-primary: hsl($h-root, 60%, 30%);
$c-primary-text: #EEE;
$c-secondary: hsl($h-root + -135, 80%, 60%);
$c-secondary-text: #111;