// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import "style";

.content-payment {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  padding: 20px 15px 11px 15px;
  margin: 0 auto;
  width: 45%;
  input {
    font-size: 12px;
    width: 270px !important;
    margin-bottom: 5px;
  }
  textarea {
    width: 270px !important;
    background-color: #d8d8d8 !important;
    border: 0 !important;
    border-radius: 5px !important;
  }
  #form {
    input {
      font-size: 12px;
      padding: 8px !important;
      background-color: #d8d8d8 !important;
      border: 0 !important;
      border-radius: 5px !important;
      // width:280px;
    }
    select {
      border-radius: 5px !important;
      width: 270px;
    }
  }
  .text-danger {
    left: 0 !important;
  }
}

.ml-nt {
  margin-left: -60px !important;
}
.ml-8 {
  margin-left: 8% !important;
}
.h-25 {
  height: 25px;
}
.logocenter {
  max-height: 75px;
  width: 300px;
}

// font-styles

.f-18 {
  font-size: 18px;
}

// font-styles

body {
  background: #f1f3f5;
  overflow-x: hidden;
  font-family: "AvenirLTSTD-Roman", sans-serif !important;
  // font-family: "Montserrat-Regular" !important;
}

.border-subtotal-wrapper {
  border-bottom: 1px solid lightgrey;
  padding: 8px 15px;
}

.custom-total-cart {
  padding: 8px 15px;
}

.main {
  display: flex;
  margin-top: 89px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100vh;
}

.text-span-wrapper {
  padding-left: 30px;
}

.aquilia-logo-one {
  width: 240px;
  height: 90px;
}

.icons-wrapper {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 20px;
  font-size: 20px;
}

//   @media(min-width:320px){}
//   .foodie{
//   width: 100% !important;
// }

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  height: 86vh;
  overflow: auto;
  background: var(--sectionHeaderColor);
  border: 1px solid lightgrey;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  padding: 5px 15px 15px 15px;
  height: 86vh;
  overflow: auto;
  margin-top: 8px;
  border-top: 2px solid var(--sectionHeaderColor);
}

.container-fluid {
  padding: 0 !important;
}

.recepie-wrapper {
  padding-right: 0 !important;
  padding-left: 20px !important;
}

.right-panel {
  width: 225px;
  background: #fff;
  border-left: 1px solid lightgrey;
  height: 86vh;
  overflow: auto;
}

// .visibility-hidden{
//   visibility: hidden;
// }

.custom-cart-icon {
  display: flex;
  border-bottom: 1px solid lightgrey;
  font-weight: 600;
  background: var(--sectionHeaderColor);
  color: #fff;
  height: 55px;
}

.fa-shopping-cart {
  margin: 20px 20px 0px 20px;
  font-weight: 600;
  // font-size: 24px;
}
.f-24 {
  font-size: 24px;
}

.custom-cart-text {
  margin-top: 18px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

// Sidebar Styles

.sidebar-nav {
  width: 218px;
  margin: 0;
  padding: 20px 0px 0px 0px;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 8px;
  line-height: 55px;
}

.custom-review {
  background: var(--buttonColor);
  width: 98%;
  height: 32px;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  position: sticky;
  bottom: -15px;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.boxes-wrapper-nav {
  justify-content: space-between;
}

.review-seven {
  color: #262262;
  background: #fff;
  width: 20px;
  margin-left: 15px;
  height: 20px;
  display: inline-block;
  border-radius: 5px;
  font-size: 14px;
}

.sub-sec-align {
  padding: 0 0 0 5px;
}

.custom-entries {
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  align-items: center;
  // color: #fff;
  // background: #262262;
  position: relative;
  top: 12px;
  font-weight: 600;
}

.review-text {
  position: relative;
  top: 5px;
  font-weight: 600;
}

.col-md-6.pl-0 {
  max-width: 591px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 550;
  // font-family: sans-serif;
  font-family: "AvenirLTSTD-Roman", sans-serif !important;
  white-space: nowrap;
}

.custom-search-bar {
  // position: relative;
  // top: 10px;
  // right: 20px;
  padding: 0px 0px 0px 25px;
  height: 32px;
  opacity: 0.9;
  border-radius: 10px;
  background-color: #fff;
  outline: 0;
  max-width: 650px;
  border: 1px solid lightgrey;
}

.custom-text-entrees {
  margin-top: 7px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: darkslategrey;
}

.custom-texts-entrees {
  color: #7672f2;
  font-size: 18px;
  font-weight: 600;
  // font-family: sans-serif;
  font-family: "AvenirLTSTD-Roman", sans-serif !important;
}

.custom-section-image {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 160px;
}

.sub-section {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-left: 5px;
  // color: #f08b2d;
}

.custom-box-wrapper {
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1); */
  opacity: 0.8;
  margin: 0px 0px 12px 0px;
  box-shadow: 6px 4px 5px #ccc;
  border: 1px solid #ccc;
}

.custom-image-section {
  width: 21px;
  align-items: center;
}

.custom-items-description {
  padding: 20px 15px 0px 15px;
  width: 100%;
}

.image {
  width: 100%;
  margin-left: 10px;
  height: 100%;
}

// .fa-plus{
// margin-top: 3px;
// background: #f08b2d;
// width: 32px;
// height: 32px;
// border-radius: 50%;
// position: relative;
// top: -8px;
// color: white;
// cursor: pointer;
// left: 20px;
// }

// .fa-plus:before {
// position: relative;
// top: 8px;
// left: 10px;
// }

.orange {
  color: #f08b2d;
  font-size: 25px;
  // margin-right: 15px;
}

.custom-addCart-Btn {
  // justify-content: flex-end;
  // margin-right: 20px;
  i {
    font-size: 25px;
  }
}

.custom-fonts {
  font-size: 12px;
  height: 40px;
}

.boxes-wrapper {
  // display: flex;
}

.custom-add-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 0 10px;
  border-bottom: 1px solid lightgrey;
}

.custom-scrollbar {
  overflow-y: scroll;
  // height: calc(100vh + -153px);
}

.cart-text-alignment {
  font-size: 14px;
  padding: 0px 45px 0px 0px;
  font-weight: 600;
  line-height: 1.5;
}

.custom-dollar {
  position: relative;
  right: 0;
  color: #000;
  font-weight: 600;
  font-size: 13px;
}

::-webkit-scrollbar-thumb {
  background:var(--sectionHeaderColor);
}

::-webkit-scrollbar {
  width: 8px;
}

.fa-search {
  position: relative;
  top: 28px;
  left: 15px;
  z-index: 99;
  opacity: 0.7;
}

// input::-webkit-input-placeholder {
//   position: relative;
//   left: 0;
// }
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.custom-firsthead-content {
  // width: 256px;
  font-size: 13px;
  font-weight: 600;
  color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 228px;
    // overflow-x: hidden;
  }

  .custom-image-wrapper-text {
    // margin-left: -5px;
    justify-content: space-between;
    display: flex;
    // min-height: 192px;
  }
  .food-type{
    height: 28px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    // position: relative;
    // left: 300px;
    // top: 92px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

// .hide{
//   display: none;
// }

.form-control {
  width: 145px;
  border-radius: 0 !important;
  font-size: 15px;
  font-weight: 600;
}

.custom-items-wrapper {
  // margin-top: 12px;
}

.sub-section-one {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-left: 5px;
  color: darkslategrey;
  position: relative;
  top: 5px;
}

.form-control:focus {
  border-color: lightgrey;
  outline: 0;
  box-shadow: none;
}

/*order custom styles starts*/

@media (min-width: 1200px) {
  .container {
    // max-width: 635px !important;
    // height: 100%;
  }
}

@media (max-width: 320px) {
  .custom-rate {
    right: 55px !important;
  }
}

.panel-default {
  padding: 10px;
  border-color: #ddd;
  border: 2px solid lightgrey;
  font-size: 15px;
  opacity: 0.7;
  border-radius: 5px;
}

.custom-inquiry-box {
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  padding: 15px 20px 22px 20px;
  position: relative;
  top: 5px;
  border-radius: 5px;
  max-width: 80%;
  margin: 0 auto;
}

.order-text {
  font-size: 1.3rem;
  opacity: 0.7;
  font-weight: 600;
}

.custom-orders-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background:var(--sectionHeaderColor);
  color: #fff;
}

.order-content-text {
  font-weight: 600;
  font-size: 22px;
}

.loader-width {
  min-width: 65%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.quantity {
  width: 35%;
  padding: 5px 5px 5px 6px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  outline: 0;
  position: relative;
  top: 4px;
}

.custom-order-items-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  margin-bottom: 5px;
  align-items: baseline;
}

.custom-rate {
  position: relative;
  right: 80px;
  width: 100%;
}

.custom-summer-fonts {
  font-size: 14px;
  margin: 0;
}

.custom-dollar-fonts {
  font-size: 14px;
  opacity: 0.7;
}

.custom-items-add {
  background: var(--buttonColor);
  height: 45px;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  width: 30%;
  margin-top: 3px;
  height: 32px;
}

.custom-payment-align {
  margin-top: 2px;
  // height: 295px;
}

.custom-total-amount {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
}

.custom-taxes {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
}

.custom-tip {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
}

.custom-total-price {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
}

.custom-grilled-fonts {
  margin-top: 12px;
  position: relative;
  bottom: 8px;
}

.custom-underline-text {
  text-decoration: underline;
  color: #262262;
  opacity: 0.8;
}

.fa-question-circle {
  color: #262262;
  font-size: 16px;
}

.custom-opacity {
  color: lightslategrey;
  font-size: 15px;
}

.custom-subtotal-wrapper {
  font-weight: 600;
  font-size: 15px;
}

.custom-font-weight {
  font-weight: 600;
  font-size: 15px;
}

/*info styles starts here*/

.header {
  overflow: hidden;
  background-color: var(--applicationHeaderColor);
  padding: 5px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 96px;
  position: fixed;
  z-index: 1000;
  top: 0;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.aquilia-logo {
  width: 90px;
  // margin-right: 165px;
  // height: 70px;
}

.header-right {
  float: right;
  margin-right: 10px;
}

.custom-logout {
  display: flex;
  cursor: pointer;
  font-weight: 600;
}

.fa-sign-out {
  // margin: 0px 63px 15px 10px;
  color: darkslategrey;
}

.custom-info {
  display: flex;
  cursor: pointer;
  font-weight: 600;
}

.fa-info-circle {
  // margin: 0px 77px 15px 0;
  color: darkslategrey;
}

.custom-fa-user {
  margin: 4px 0px 0px 10px;
  color: darkslategrey;
  font-size: 20px;
}

.custom-user-wrapper {
  display: flex;
  margin: 0 0 -10px 0px;
  font-weight: 600;
}

/*footer style*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--sectionHeaderColor);
  color: white;
  text-align: center;
  font-weight: 600;
}

.custom-footer-align {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

/* footer styles end*/

.custom-text-colour {
  color: #000;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

/* Registration styles starts here*/

#contact {
  display: flex;
  // height: 86vh;
  // overflow: auto;
  margin-top: 30vh;
  justify-content: center;
  align-items: center;
}

#contact #form {
  width: 372px;
  float: left;
}

.register-header-wrapper {
  position: relative;
  top: 92px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  background: #262262;
  color: #fff;
  font-weight: 600;
  min-width: 474px;
}

#contact #form h2 {
  font: 48px "Bree Serif", Georgia, serif;
}

#contact #form span {
  font-size: 15px;
  display: block;
  float: left;
  width: 100px;
  padding-top: 5px;
  font-weight: 600;
  color: darkslategrey;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#contact #form input {
  font-size: 12px;
  background-color: #e8f0fe;
  // float: left;
  width: 270px;
  // color: #F1F1F1;
  padding: 10px 10px 10px 15px;
  margin-bottom: 10px;
  border: 1px solid var(--buttonColor);
  outline: 0;
}

#contact #form textarea {
  background-color: rgb(232, 240, 254);
  float: left;
  border: 0px;
  width: 270px;
  height: 125px;
  padding: 10px 10px 10px 15px;
  // font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
  // color:#F1F1F1;
  font-size: 12px;
  resize: none;
  border: 1px solid lightblue;
  outline: 0;
}

#contact #form input.submit {
  cursor: pointer;
  width: 85px;
  height: 34px;
  float: right;
  padding: 0px 0px 0px 0px;
  margin: 30px 1px 0px 0px;
  background: var(--buttonColor);
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  font-size: 16px;
}

#contact #captcha span {
  width: 44px;
}

#contact #captcha input {
  margin: 5px 0 0;
  padding: 0;
  border: medium none;
  cursor: pointer;
  width: 15px;
}

.fa-refresh {
  margin: 0 0 0 15px;
  cursor: pointer;
}

.content {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  padding: 47px 40px 42px 40px;
  margin: 0 auto;
}

.register-alignment {
  padding: 20px 0px 50px 50px !important;
}

.register-screen {
  margin-top: 87px !important;
}

.cart-items-footer {
  font-size: 14px;
}

.cart-items-footer-wrapper {
  padding: 0;
}

// login styles
.forget-pass {
  margin-left: 68%;
  font-size: 14px;
  color: darkslategrey;
  font-weight: 600;
  cursor: pointer;
}

.form-height {
  // height: 150px !important;
}

.login-submit:disabled {
  opacity: 0.5;
}

.custom-signIN {
  margin: 0px 1px 0px 0px !important;
  width: 20% !important;
  float: none !important;
  // border-radius: 5px;
}

// order details styles
.order-details-submit:disabled {
  opacity: 0.5;
}

.custom-align-order-screen {
  display: flex;
  justify-content: center;
  margin-top: 135px;
}

.input-group {
  width: 270px !important;
}

.text-danger {
  position: relative;
  left: 110px;
  bottom: 10px;
}

.fa-get-pocket {
  position: absolute;
  right: 15px;
  top: 8px;
  cursor: pointer;
}

.open-dialog-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autocomplete-container {
  box-shadow: none !important;
  height: 50px !important;
  left: 0;
}

.autocomplete-container .suggestions-container {
  max-width: 270px;
  top: 45px;
}

// .confirmation-container{
//   max-width: 635px;

.autocomplete-container .input-container .x i {
  display: none;
}

.order-number {
  white-space: nowrap;
  font-size: 15px;
  padding-top: 5px;
  font-weight: 600;
  color: darkslategrey;
}

.contact-submit {
  margin: 5px -34px 0px 40px !important;
  width: 26% !important;
  float: none !important;
}

.custom-dialog-scroll-box {
  overflow-y: scroll;
  height: 405px;
  margin-top: 10px;
}

.alert-info {
  font-family: monospace;
}

.custom-item-modal-dialog {
  color: darkorange;
  font-weight: 600;
}

.custom-sub-item-font {
  font-size: 14px;
}

.custom-scroll-packages {
  overflow-y: scroll;
  height: 405px;
}

.custom-details-select-box {
  width: 273px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  background-color: #e8f0fe;
  border: 1px solid lightblue;
  outline: 0;
}

.contact-align-wrapper {
  margin-top: 105px !important;
}

.content-payment-wrapper {
  margin-top: 105px !important;
  display: flex;
  // height: 86vh;
  // overflow: auto;
  margin-top: 30vh;
  justify-content: center;
  align-items: center;
}

.md-autocomplete-suggestions-container {
  z-index: 1000000 !important; /* any number of choice > 1050*/
}

.custom-select {
  font-size: 16px;
  background-color: #e8f0fe;
  float: left;
  max-width: 270px;
  margin-bottom: 10px;
  border: 1px solid lightblue;
  outline: 0;
  border-radius: 0;
  cursor: pointer;
  font-size: 14px;
}

.main-container-wrapper {
  // overflow-y: scroll;
  // height: 100vh;
  min-width: 474px;
}

.custom-select:focus {
  border-color: lightblue;
  outline: 0;
  box-shadow: none;
}

.custom-order-details {
  position: relative;
  top: 97px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 22px;
  background: var(--sectionHeaderColor);
  color: #fff;
  width: 100%;
  // min-width: 538px;
}

.custom-hidden-text {
  visibility: hidden;
}

.custom-date-time {
  letter-spacing: 1px;
}

//myOrder styles starts

@media (max-width: 320px) {
  .aquilia-logo-one {
    width: 138px;
  }

  .header-right {
    line-height: initial;
  }

  .aquilia-logo {
    width: 85px;
    margin-right: 10px;
  }
}

.table {
  position: relative;
  top: 94px;
}

tbody {
  border: 1px solid lightgrey;
  background: white;
}

.table .thead-dark th {
  background-color: var(--sectionHeaderColor);
  border-color: var(--sectionHeaderColor);
  white-space: nowrap;
  // padding: 5px 10px 5px 10px !important;
}

// ngx modal dialog
modal-container.modal {
  z-index: 99999 !important;
}

.modal-content {
  // min-height: 350px;
  max-height: fit-content;
  overflow: auto;
}

.modal-open .modal {
  // overflow-y: hidden;
}

.custom-dialog-header {
  padding: 10px 0px 1px 10px;
  background:var(--sectionHeaderColor);
  display: flex;
  justify-content: center;
}

.custom-combo-scroll {
  max-height: fit-content !important;
}

.label-header-dialog {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.description-dialog {
  padding: 12px;
  background: #f1f3f5;
}

// .custom-currency-dialog{
//   margin-top: 15px;
//   border-bottom: 1px solid lightgrey;
// }
.custom-border-wrapper {
  border-bottom: 0;
  // margin-top: 10px;
}

.pull-right {
  margin-top: 10px;
  background: var(--buttonColor);
  color: white;
  font-weight: 600;
  border: 1px solid var(--buttonColor);
  border-radius: 5px;
}

.pull-right:hover { 
  background: var(--buttonColor); 
  border: 1px solid var(--buttonColor);
}

.custom-weight-font {
  font-weight: 600;
  margin: 0 5px;
  color: blue !important;
  opacity: 0.8;
}

.custom-font-dialog {
  font-size: 15px;
}

.custom-dialog-input {
  outline: 0;
}

// owl date time picker
owl-date-time-container {
  // margin-top: 30%;
}

// place-order-styles

.card {
  top: 110px;
  // height: 88vh;
}

.card-header {
  display: none;
}

@media (max-width: 320px) {
  .custom-pickupInfo {
    justify-content: flex-start !important;
  }
}

@media (max-width: 575.98px) {
}

.table-responsive-sm {
  margin: 0px 0px 5px 0px;
}

// .delivery-content-width{
//   min-width: 1750px;
// }

.custom-pickupInfo {
  display: flex;
  // justify-content: flex-end;
}

.table-striped {
  position: relative;
  top: 0;
}

.place-order-color {
  background-color: var(--buttonColor) !important;
  border-color: var(--buttonColor) !important;
  border-radius: 5px;
  outline: 0;
  font-weight: 600;
  border: 0;
}

.responsive-header-custom {
  position: relative;
  top: 92px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  background: var(--sectionHeaderColor);
  color: #fff;
  font-weight: 600;
  min-width: 0;
}

.place-order-color:not(:disabled):not(.disabled):active,
.show > .place-order-color.dropdown-toggle {
  background-color: var(--buttonColor) !important;
  border-color:var(--buttonColor) !important;
  outline: 0;
}

.place-order-color:not(:disabled):not(.disabled):active:focus,
.show > .place-order-color.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}

.dropdown-menu {
  // padding: 0;
  // margin: 0;
  // text-align: center;
  // border-radius: 0;
  // min-width: 9.2rem;
}

.bg-hover:hover {
  background-color: lightgrey;
}

.bg-hover a:hover {
  text-decoration: none;
}

.place-order-button {
  display: flex;
  justify-content: space-between;
}

.table-header-order {
  background: var(--sectionHeaderColor);
  color: #fff;
}

.mb-3 {
  margin-bottom: 10px !important;
}

.mb-4 {
  margin-bottom: 1.2rem !important;
}

// order-confirmation styles

.table-right-confirm {
  width: 1%;
  white-space: nowrap;
}

.custom-successful-order {
  font-weight: 600;
}

.successful-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 320px) {
}

.successful-icon {
  margin-left: 30px;
}

@media (max-width: 320px) {
  .table-right-confirm {
    white-space: normal !important;
  }
}

.custom-check {
  margin: 0px 15px 5px 0px;
  font-size: 30px;
  color: green;
}

.custom-confirm-table {
  background: var(--buttonColor);
  color: #fff;
}

.quantity-input {
  width: 50px;
  height: 30px;
}

//theme-ome styles starts here

.select-cart-btns {
  margin-right: 15px;
}

.theme-nav {
  margin-top: 92px;
}

.card-product {
  top: 0 !important;
  box-shadow: 2px 2px 10px #c1c1c1;
  border-radius: 10px;
}

// @media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 7px;
  padding-left: 0px;
}

// }

@media (min-width: 768px) {
  .card-product {
    margin-right: -20px !important;
  }
}

@media all and (min-width: 992px) {
  // .navbar .nav-item .dropdown-menu {
  //   display: none;
  // }

  // .navbar .nav-item:hover .nav-link {
  //   color: #fff;
  // }

  // .navbar .nav-item:hover .dropdown-menu {
  //   display: block;
  // }

  // .navbar .nav-item .dropdown-menu {
  //   margin-top: 0;
  // }
  // .dropdown .dropdown-menu{
  //   display: none;
  // }
  // .dropdown:hover  .dropdown-menu{
  //   display: block;
  // }
  .more-menu-container .more-inner {
    display: none;
  }
  .more-menu-container:hover .more-inner {
    display: block;
  }
}

@media (min-width: 992px) {
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-around;
}

@media (max-width: 320px) {
  .foodie-theme {
    width: 110px !important;
  }
}

@media (max-width: 768px) {
  .foodie-theme {
    width: 100% !important;
  }
}

.navbar-expand-lg {
  margin-top: 92px;
  background-color: var(--buttonColor) !important;
  padding: 0 !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
  font-size: 18px !important;
}

// @media (min-width: 992px){
// .navbar-expand-lg .navbar-nav .nav-link {
//     padding-right: 0;
//     padding-left: 0;
// }
// }

// .navbar-dark .navbar-nav .nav-link {
//     color: white;
//     font-size: 16px;
// }
.cater-theme-search {
  color: #fff;
  position: relative;
  top: 0;
  left: -5px;
  z-index: 99;
  opacity: 1;
  cursor: pointer;
}

.custom-theme-description {
  text-align: center;
  // padding-top: 45px;
}

.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 0;
  text-align: center;
}

.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.card-product .info-wrap {
  overflow: hidden;
  border-top: 1px solid #eee;
}

.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee;
}

.label-rating {
  margin-right: 10px;
  // color: dimgrey;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 600;
}

.card-product .price-old {
  color: #999;
}

.card-container {
  max-width: 1306px !important;
  margin-top: 10px;
}

.title {
  font-size: 1rem !important;
  font-weight: 600;
  font-size: 15px !important;
}

.desc {
  font-weight: 600;
}

.order-desc {
  font-weight: 100 !important;
  color: dimgrey;
  font-size: 14px;
  height: 33px;
}

.custom-main-course {
  font-weight: 600;
  // margin-left: 50px;
}

.sub-description-text-cater {
  color: dimgrey;
  letter-spacing: 1.2px;
}

.custom-image-wrap-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-one-icons {
  position: relative;
  top: 1px;
  left: 20px;
  color: #fff;
}

.theme-button-width-alignment {
  padding: 2px 10px 0px 10px;
  background: #f08b2d;
  border: #f08b2d;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}

.foodie-theme {
  // min-height: 215px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  min-height: 150px;
}
// .right-img{
//   min-height: 197px;
// }
.button-customize {
  background: #f08b2d;
  border: #f08b2d;
  color: #fff;
  font-weight: 600;
  margin: 0 5px 0px 0px;
  font-size: 15px;
}

.width-alignments-description {
  padding: 0px 0px 0px 20px;
  width: 100%;
}

@media (min-width: 770px) {
  .hide-toggle {
    display: none;
  }
}

.sidebar-button-cross {
  position: absolute;
  right: 5px;
  top: 5px;
  background: transparent;
  border: tan;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hide {
    display: none;
  }
}

@media (max-width: 320px) {
  .responsive-side {
    position: fixed !important;
    z-index: 1;
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .responsive-side {
    position: fixed !important;
    z-index: 1;
    overflow: auto;
  }
}

@media (max-width: 320px) {
  .sidebar-nav {
    width: 203px;
  }
}

@media (max-width: 768px) {
  #page-content-wrapper {
    height: 77vh;
  }
}

.delivery-content-width {
  justify-content: flex-end;
}

.autocomplete-container .suggestions-container ul li a {
  padding: 0px !important;
}

// .img-fluid {
//   max-width: 108px !important;
//   height: 120px;
// }

.table thead th {
  padding: 5px 10px 5px 10px;
  border-bottom: 0 !important;
}

// .custom-row-width{
//   width: 169px;
// }

.table td {
  white-space: nowrap;
  padding: 10px 10px 5px 10px;
}

.custom-color-save {
  background: lightgray;
  border: 1px solid lightgray;
  color: #000;
  border-radius: 5px;
}

.placed-order-wrapper {
  background-color: var(--buttonColor) !important;
  border-color: var(--buttonColor) !important;
  border-radius: 5px;
  outline: 0;
  font-weight: 600;
  border: 0;
  color: #fff;
  padding: 5px 0px 5px 2px;
}

.custom-select-color-wrapper {
  background: #fff !important;
  color: black !important;
}

.blue-button {
  background-color: var(--buttonColor);
  color: #fff;
}
.blue-button {
  &:hover{
    background-color: var(--buttonColor);
    color: #fff;
  }
}

.readonly-number-input::-webkit-inner-spin-button,
.readonly-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  margin: 0;
}

.readonly-number-input {
  text-align: right;
}

@media (max-width: 320px) {
  .custom-items-add {
    font-size: 12px;
    width: 50%;
  }
}

.custom-increase-quantity {
  display: flex;
  justify-content: flex-end;
}

.custom-bottom-line {
  // border-bottom: 2px solid lightgrey;
  // height: 115px;
}

// .custom-title-margin{
//   margin-top: 60px;
// }

.custom-dialog-specific {
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.custom-bg-package {
  background: #f1f3f5;
}

// .alert {
//   padding: 0.75rem 0.25rem !important;
// }

.package-right-quantity {
  display: flex;
  justify-content: flex-end;
}

.custom-package-btns {
  padding: 0 0 5px 0px;
}

.custom-instruction {
  margin: 0 10px 10px 10px;
}

.custom-packg-items {
  color: #000 !important;
}

.division-width {
  width: 300px;
}

.para-width {
  width: 120px;
}

.custom-input-qty {
  position: relative;
  right: 25px;
}

// .custom-total-price{
//   width: 85px;
// }
// .combo-desc-size{
//   width: 35%;
// }

.cater-image-burger {
  // height: 170px !important;
  width: 175px !important;
  // .img-fluid{
  //   height: 170px !important;
  //   width: 140px !important;
  // }
}

@media (max-width: 320px) {
  .custom-orders-list {
    min-width: 666px;
  }
}

@media (max-width: 320px) {
  .custom-successful-order {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .cater-search {
    width: 290px !important;
  }
}

.custom-combo-foodie {
  height: 120px;
  width: 98px;
}

.cater-logo {
  max-width: 100%;
  height: auto;
}

.white-space {
  white-space: nowrap;
}

.w-60 {
  width: 60px;
}

ul.navbar-nav {
  padding: 0 10px;
}

.list-items-container {
  position: sticky;
  z-index: 1024;
  top: 92px;
  .nav-container {
    background-color: var(--sectionHeaderColor) !important;

    .nav-list-title {
      color: #ffffff !important;
      font-size: 14px;
      font-weight: 600;
      &:hover {
        background: #f18b2d !important;
        color: #ffffff !important;
      }
    }
    .nav-more {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background: rgb(255 255 255 / 0.5);
      color: black !important;
    }

    .more-dropdown {
      position: absolute;
      right: 78px;
      background: #ffffff;
      .nav-list-title {
        color: black !important;
        &:hover {
          background: none;
        }
      }
      .dropdown-menu-content {
        &::before {
          display: none;
        }
      }
    }

    .dropdown-menu-content {
      padding: 0;
      border: 0;
      top: 36px;
      // border-radius: 20px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
      // position: relative;
      // background-color: red;
      &:before {
        content: "";
        position: absolute;
        top: -8px;
        left: -63px;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 0px;
        border-top: solid 12px #fff;
        border-left: solid 12px transparent;
        border-right: solid 12px transparent;
        transform: rotate(180deg);
      }

      .item-list {
        padding: 0;
        position: relative;
        text-align: left;
        background: #fefefe;
        padding: 10px 25px 10px 10px;
        white-space: pre-wrap;
        color: #3a3a3a;
        font-size: 13px;
        font-weight: 600;
        // font-family: arial,sanserif;
        // border-radius: 20px;
      }
    }
    .dropdown-menu-container {
      .nav-list-title {
        padding: 10px 8px;
      }
    }
  }
}

.more-menu-container {
  position: relative;
  .more-inner {
    position: absolute;
    right: 3px;
    background: #ffffff;
    color: black;
    text-decoration: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
    z-index: 99999;
    &::before {
      content: "";
      position: absolute;
      top: -8px;
      // left: -63px;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 0px;
      border-top: solid 12px #fff;
      border-left: solid 12px transparent;
      border-right: solid 12px transparent;
      transform: rotate(180deg);
    }
    .color-black {
      color: black !important;
    }
  }
  .dropdown-menu-content {
    left: -173px !important;
    /* right: 20px; */
    top: 3px !important;
  }
  .dropdown-menu-content:before {
    content: "";
    position: absolute;
    top: 2px !important;
    left: 0 !important;
    right: -184px !important;
    margin: 0 auto;
    width: 0;
    height: 0px;
    border-top: solid 12px #fff !important;
    border-left: solid 12px transparent !important;
    border-bottom: solid 12px transparent;
    transform: rotate(-90deg) !important;
  }
}
ul {
  list-style: none;
}
.dropdown-item:hover {
  background: #f18b2d !important;
  color: white !important;
}

.dropdown-item :active {
  display: none;
}

.btn-responsive {
  position: sticky;
  top: 0;
  z-index: 999999;
  background: var(--buttonColor);
  width: 100%;
  text-align: left;
}

@media (max-width: 991px) {
  .dropdown-menu-container {
    width: 100%;
    .dropdown-menu-content {
      &::before {
        display: none;
      }
    }
  }
  .nav-more {
    display: none;
  }

  .more-container {
    width: 100%;
    .more-inner {
      position: relative !important;
      background: #262262 !important;
      color: #ffffff !important;
      &::before {
        display: none;
      }
      .color-white-responsive {
        color: #ffffff !important;
      }
    }
  }
  .nav-responsive {
    overflow: auto;
    max-height: 80vh;
  }
  .list-items-container {
    //  position: relative;
    //  top: 0;
  }
}
//  li:nth-child(9) {
// display: none;
// }
.dropleft .dropdown-toggle::before {
  vertical-align: 0;
  display: none;
}
.address {
  .item {
    padding-left: 10px !important;
  }
}

.btn-myorders {
  // border: 2px solid #584781;
  //  padding: 5px;
  border-radius: 5px;
  /* margin-top: 45px; */
  position: absolute;
  top: 10px;
  background: var(--buttonColor);
  // width: 124px;
  left: 20px;
  color: white;
  // height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 5px 5px 9px #888888;
}
.cursor-pointer {
  cursor: pointer;
}

.orders-btn {
  border: 1px solid var(--buttonColor);;
  /* padding: 5px; */
  border-radius: 5px;
  /* margin-top: 45px; */
  // background-image: linear-gradient(#262262,  #584781);
  background:var(--buttonColor);
  width: 124px;
  color: white;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 5px 5px 9px #888888;
}

.payment-details-wrapper {
  form {
    background-color: #f08b2d;
    padding: 15px;
    width: 45%;
  }
  // margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.place-order-table {
  .table td {
    white-space: nowrap;
    padding: 1px 10px 1px 10px;
  }
}

.cursor-pointer{
  cursor: pointer;
}